
				<!--个人中心-->
				<ul>
					<li>
						<h3>个人中心</h3>
						<ul>
							<li>
								<a href="{:U('User/Member/index')}">我的用户中心</a>
							</li>
							<li>
								<a href="{:U('Home/Cart/index')}">我的购物车</a>
							</li>
							<li>
								<a href="{:U('User/Order/lists')}">我的订单</a>
							</li>
							<li>
								<a href="##">我的收藏</a>
							</li>
							<li>
								<a href="{U:('User/Member/comment')}">我的评价</a>
							</li>
							<li>
								<a href="##">提取现金</a>
							</li>
							<li>
								<a href="##">我的余额</a>
							</li>
						</ul>
					</li>
					<li>
						<h3>我的账户</h3>
						<ul>
							<li>
								<a href="{U:('User/Member/address')}">地址管理</a>
							</li>
							<li>
								<a href="##">个人信息</a>
							</li>
						</ul>
					</li>
					<li>
						<h3>退款维权</h3>
						<ul>
							<li>
								<a href="##">系统消息</a>
							</li>
							<li>
								<a href="##">举报管理</a>
							</li>
						</ul>
					</li>
				</ul>






















		       <div class="mine ov">
                    <h3 class="text-right">个人账号管理   </h3>
                    <ul>
                         <li>
                            <a href="{:U('User/member/center')}">会员中心首页</a>
                        </li>
                        <li>
                            <a href="{:U('User/member/balance')}">我的余额</a>
                        </li>
                        <li>
                            <a href="{:U('User/member/update')}">设置及账号信息</a>
                        </li>
                        
                        <li>
                            <a href="{:U('User/member/changepwd')}">修改密码</a>
                        </li>
                        
                    </ul> 
              </div>
              <div class="mine ov">
                	<h3 class="text-left">我的订单   </h3>
                	 <ul>
                		<li>
                			<a href="{:U('User/member/order')}">订单管理</a>
                		</li>
                        <li>
                            <a href="{:U('User/member/address')}">订单地址管理</a>
                        </li>                        
                		<li>
                			<a href="{:U('User/member/collection')}">我的收藏</a>
                		</li>
            	</ul>
                	
            </div>
             <div class="mine ov">
                	<h3 class="text-left">售后服务   </h3>
                	<ul>
                		<li>
                			<a href="{:U('User/member/service')}">我的售后与服务</a>
                		</li>             	
                	</ul>
                	
                </div>