<include file="Public/header" />
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li><a href="{$base_url}Admin/Productcat">产品分类中心</a></li>
			<li class="active">产品分类添加</li>
        </ul>
        <!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="icon-search nav-search-icon"></i>
                </span>
            </form>
        </div>
        <!-- #nav-search -->
    </div>

    <div class="page-content">
        <div class="row">
            <form id="adminuser_form" class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">
                        <font color="red">*</font>分类名称:</label>
                    <div class="col-sm-9">
                        <input name="cat_name" value="" type="text" id="cat_name" placeholder="cat_name" class="col-xs-10 col-sm-5" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">
                        <font color="red">*</font>所属分类:</label>
                    <div class="col-sm-9">
                        <select id="choice_type" name="catid">
                                <option>..请选择</option>
                                <option value="0">顶级分类</option>
                                <volist name="topcat" id="v" key="k">
                                <in name="v.level" value="1,2"><option value="{$v.id}" levelstr="{$v.level}">{$v.cat_name}</option></in>
                                </volist>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">
                        <font color="red">*</font>分类类型:</label>
                    <div class="col-sm-9">
                        <input name="cattype" value="article" type="radio" />文章类
                        <input name="cattype" value="product" type="radio" />产品类
                        <input name="cattype" value="ad" type="radio" />广告类
                    </div>
                </div>
                 <div class="form-group" id="attrchoice">
                    <label class="col-sm-3 control-label no-padding-right">
                        <font color="red">*</font>分类的关联属性:</label>
                    <div class="col-sm-9" id="navShow">
                        <div>
                            <input type="button" class="btn btn-xs" id="selectAll" value="全选" />
                                    &nbsp; &nbsp; &nbsp;
                            <input type="button" class="btn btn-xs" id="noSelect" value="不选" />
                                    &nbsp; &nbsp; &nbsp;
                            <input type="button" class="btn btn-xs" id="selectReverce" value="反选" />
                        </div>
                        <volist name="attribute" id="v" key="k">
                        <input name="attrid[]" value="{$v.id}" type="checkbox" id="cat_name" placeholder="cat_name" style="margin:5px;" />{$v.attrname}
                        </volist>
                    </div>
                </div>    

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit" name="">
                            <i class="icon-ok bigger-110"></i>
                            提交
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset" name="">
                            <i class="icon-undo bigger-110"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
<!-- /.main-content -->

<div class="ace-settings-container" id="ace-settings-container">
    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
        <i class="icon-cog bigger-150"></i>
    </div>

    <div class="ace-settings-box" id="ace-settings-box">
        <div>
            <div class="pull-left">
                <select id="skin-colorpicker" class="hide">
                    <option data-skin="default" value="#438EB9">#438EB9</option>
                    <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                    <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                    <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                </select>
            </div>
            <span>&nbsp; 选择皮肤</span>
        </div>

        <div>
            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
            <label class="lbl" for="ace-settings-navbar"> 固定导航条</label>
        </div>

        <div>
            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
            <label class="lbl" for="ace-settings-sidebar"> 固定滑动条</label>
        </div>

        <div>
            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
            <label class="lbl" for="ace-settings-breadcrumbs">固定面包屑</label>
        </div>

        <div>
            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
            <label class="lbl" for="ace-settings-rtl">切换到左边</label>
        </div>

        <div>
            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
            <label class="lbl" for="ace-settings-add-container">
                切换窄屏
                <b></b>
            </label>
        </div>
    </div>
</div>
<!-- /#ace-settings-container -->
</div>
<!-- /.main-container-inner -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
</div>
<script>
    $(function(){
        $('#choice_type').change(function(){
            var levelstr=$(this).find('option:selected').attr('levelstr');
            if(levelstr==1){
                $('#attrchoice').show();
            }else{
                $('#attrchoice').hide();
            }
        })
    });
</script>
<script>
$(function(){
    //全选点击
    $('#selectAll').click(function(){
        //凡是多次切换的标签，操作属性时候不能用attr，要用prop
        $('#navShow input').prop('checked',true);
    });
    //不选点击
    $('#noSelect').click(function(){
        $('#navShow input').prop('checked',false);
    });
    //反选点击
    $('#selectReverce').click(function(){
         //必须遍历每一个input进行判断   
         $.each($('#navShow input'),function(k,v){
             //true :选中   false：没有选中  
             if($('#navShow input').eq(k).prop('checked')==true){
                 $('#navShow input').eq(k).prop('checked',false);
             }else{
                 $('#navShow input').eq(k).prop('checked',true);
             }
         });
    });
}); 
</script>
<!-- /.main-container -->
<include file="Public/footer" />
