<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{$title}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <link href="{$base_url}Public/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{$base_url}Public/admin/css/font-awesome.min.css" />

    <!--[if IE 7]>
		  <link rel="stylesheet" href="{$base_url}Public/admin/css/font-awesome-ie7.min.css" />
		<![endif]-->

    <!-- page specific plugin styles -->

    <!-- fonts -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <!-- ace styles -->

    <link rel="stylesheet" href="{$base_url}Public/admin/css/ace.min.css" />
    <link rel="stylesheet" href="{$base_url}Public/admin/css/ace-rtl.min.css" />

    <!--[if lte IE 8]>
		  <link rel="stylesheet" href="{$base_url}Public/admin/css/ace-ie.min.css" />
		<![endif]-->

    <!-- inline styles related to this page -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
		<script src="{$base_url}Public/admin/js/html5shiv.js"></script>
		<script src="{$base_url}Public/admin/js/respond.min.js"></script>
		<![endif]-->
</head>

<body class="login-layout">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                
                            </h1>
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <img src="{$base_url}Public/home/img/logo.png" >
                                        </h4>

                                        <div class="space-6"></div>

                                        <form action="" method="post" enctype="multipart/form-data" id="loginForm">
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="用户名" name="username" id="username" value="" />
                                                        <i class="icon-user"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control" placeholder="密码" name="password" id="password" value="" />
                                                        <i class="icon-lock"></i>
                                                    </span>
                                                </label>
																								
																								<label class="block clearfix">
																										<span class="block input-icon input-icon-right">
																												<input type="text" class="pull-left form-control width-50" placeholder="验证码" name="vcode" id="vcode" />
																												<a href="#" class="pull-left" id="changevcode"><img id="showvcode" src="{$base_url}Admin/Vcode/index"></a>
																										</span>
																								</label>
																								
                                                <div class="space"></div>

                                                <div class="clearfix">
																										<label class="inline">
																											<input type="checkbox" name="rem" class="ace" id="rem" check="no"/>
																											<span class="lbl"> 记住密码</span>
																										</label>
                                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                                        <i class="icon-key"></i>
                                                        登录
                                                    </button>
                                                </div>

                                                <div class="space-4"></div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <!-- /widget-main -->

                                    <div class="toolbar clearfix">

                                    </div>
                                </div>
                                <!-- /widget-body -->
                            </div>
                            <!-- /login-box -->
                        </div>
                        <!-- /position-relative -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.main-container -->

    <!-- basic scripts -->

    <!--[if !IE]> -->

    <script src="{$base_url}Public/admin/js/jquery-2.0.3.min.js"></script>

    <!-- <![endif]-->

    <!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write(
            "<script src='{$base_url}Public/admin/js/jquery-2.0.3.min.js'>" + "<" +
            "/script>");
    </script>
		<script type="text/javascript">
					$(function(){
						$('#changevcode').click(function(){
						$('#showvcode').attr('src','{$base_url}index.php?c=vcode&a=index&admin=1&'+Math.round(Math.random()*1000));
				});
			});		
		</script>
    <!-- <![endif]-->

    <!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='{$base_url}Public/admin/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write(
            "<script src='{$base_url}Public/admin/js/jquery.mobile.custom.min.js'>" +
            "<" + "/script>");
    </script>

    <!-- inline scripts related to this page -->

		<script type="text/javascript">
		   
			$(function(){
				  $('#rem').click(function(){
						   if($(this).attr('check')=='no'){
						   //check  no    ok
								    $(this).attr('check','ok');
							 }else{
								   //check ok   no
								    $(this).attr('check','no');
										$('#username').val('');
										$('#password').val('');
							 }
					});
		        //登陆表单提交时候禁止跳转
			    $('#loginForm').submit(function(){
						/*
						$.post :发送方式是post
						(发送地址,post数据{名称1："值1",xxxx,名称n:"值n"},function(data接受发送地址回传的数据){发送成功后的操作})
						
						ajax和php端如何实现通信,凡是输出的写法，ajax都会自动接收
						echo  var_dump print_r
						*/

				     $.post("index.php?c=login&a=index&admin=1", { username: $('#username').val(), password: $('#password').val(),vcode:$('#vcode').val(),rem:$('#rem').attr('check') },
					  function(data){
					     if(data==2){
						    alert('请看清楚验证码');
							$('#showvcode').attr('src','<?php echo BASE_URL;?>index.php?c=vcode&a=index&admin=1&'+Math.round(Math.random()*1000));
						 }else if(data==3){
						    alert("填写信息有误,请检查");
							$('#showvcode').attr('src','<?php echo BASE_URL;?>index.php?c=vcode&a=index&admin=1&'+Math.round(Math.random()*1000));
						 }else if(data==4){
						    alert("很抱歉此用户已被冻结，请使用其他的用户");
							$('#showvcode').attr('src','<?php echo BASE_URL;?>index.php?c=vcode&a=index&admin=1&'+Math.round(Math.random()*1000));
						 }else if(data==1){
						    //只有返回信息是1的时候才跳转
						    alert("登录成功");
							location.href="index.php?c=news&a=index&admin=1"
						 }
					 });
				    return false;
				});
				$('#changevcode').click(function(){
					$('#showvcode').attr('src','<?php echo BASE_URL;?>index.php?c=vcode&a=index&admin=1&'+Math.round(Math.random()*1000));
					
				});
			});
			function show_box(id) {
			 jQuery('.widget-box.visible').removeClass('visible');
			 jQuery('#'+id).addClass('visible');
			}
		</script>
    <div style="display:none">
        <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
    </div>
</body>

</html>
