

</script>

<!-- <![endif]-->

<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write(
        "<script src='{$base_url}Public/admin/js/jquery-2.0.3.min.js'>" + "<" +
        "/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='{$base_url}Public/admin/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if ("ontouchend" in document) document.write(
        "<script src='{$base_url}Public/admin/js/jquery.mobile.custom.min.js'>" + "<" +
        "/script>");
</script>
<script src="{$base_url}Public/admin/js/bootstrap.min.js"></script>
<script src="{$base_url}Public/admin/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<script src="{$base_url}Public/admin/js/jquery.dataTables.min.js"></script>
<script src="{$base_url}Public/admin/js/jquery.dataTables.bootstrap.js"></script>

<!-- ace scripts -->

<script src="{$base_url}Public/admin/js/ace-elements.min.js"></script>
<script src="{$base_url}Public/admin/js/ace.min.js"></script>
<script src="{$base_url}Public/admin/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="{$base_url}Public/admin/js/jquery.ui.touch-punch.min.js"></script>
<script src="{$base_url}Public/admin/js/chosen.jquery.min.js"></script>
<script src="{$base_url}Public/admin/js/fuelux/fuelux.spinner.min.js"></script>
<script src="{$base_url}Public/admin/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="{$base_url}Public/admin/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="{$base_url}Public/admin/js/date-time/moment.min.js"></script>
<script src="{$base_url}Public/admin/js/date-time/daterangepicker.min.js"></script>
<script src="{$base_url}Public/admin/js/bootstrap-colorpicker.min.js"></script>
<script src="{$base_url}Public/admin/js/jquery.knob.min.js"></script>
<script src="{$base_url}Public/admin/js/jquery.autosize.min.js"></script>
<script src="{$base_url}Public/admin/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="{$base_url}Public/admin/js/jquery.maskedinput.min.js"></script>
<script src="{$base_url}Public/admin/js/bootstrap-tag.min.js"></script>
<!-- inline scripts related to this page -->

<script type="text/javascript">
    $(function () {
        var oTable1 = $('#sample-table-2').dataTable({
            "aoColumns": [{
                    "bSortable": false
                },
                null, null, null, null, null,
                {
                    "bSortable": false
                }
            ]
        });


        $('table th input:checkbox').on('click', function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function () {
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });

        });


        $('[data-rel="tooltip"]').tooltip({
            placement: tooltip_placement
        });

        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }
        $('textarea[class*=autosize]').autosize({
            append: "\n"
        });
        $('textarea.limited').inputlimiter({
            remText: '%n character%s remaining...',
            limitText: 'max allowed : %n.'
        });

        $('.date-picker').datepicker({
            autoclose: true
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        var content, description, pro_content, pro_description;
        KindEditor.ready(function (K) {
            content = K.create('textarea[name="content"]', {
                allowFileManager: true
            });
            pro_content = K.create('textarea[name="pro_content"]', {
                allowFileManager: true
            });
			msg_content = K.create('textarea[name="msg_content"]', {
				allowFileManager: true
			});
        });
    })
	//系统信息类型选择的时候
	$('#choice_type').change(function(){
				if($(this).val()==0){
					$('#setup_value').html('<input type="text" id="form-field-1" placeholder="请填写数据内容" name="value" class="col-xs-10 col-sm-5" />');
			}else{
					$('#setup_value').html('<input type="file" id="form-field-1"  name="value" class="col-xs-10 col-sm-5" />');				  
			}
	});
</script>
<div style="display:none">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
</div>
</body>

</html>
