<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{$title}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{$base_url}Public/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{$base_url}Public/admin/css/font-awesome.min.css" />

    <!--[if IE 7]>
		  <link rel="stylesheet" href="{$base_url}Public/admin/css/font-awesome-ie7.min.css" />
		<![endif]-->

    <!-- page specific plugin styles -->

    <!-- fonts -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <!-- ace styles -->

    <link rel="stylesheet" href="{$base_url}Public/admin/css/ace.min.css" />
    <link rel="stylesheet" href="{$base_url}Public/admin/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="{$base_url}Public/admin/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
		  <link rel="stylesheet" href="{$base_url}Public/admin/css/ace-ie.min.css" />
		<![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="{$base_url}Public/admin/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--<script src="{$base_url}Public/admin/js/jquery-2.0.3.min.js"></script>-->

    <!-- <![endif]-->

    <!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

    <!--[if !IE]> -->

    <!--[if lt IE 9]>
		<script src="{$base_url}Public/admin/js/html5shiv.js"></script>
		<script src="{$base_url}Public/admin/js/respond.min.js"></script>
		<![endif]-->
    <link rel="stylesheet" href="{$base_url}Public/admin/kindeditor/themes/default/default.css" />
    <script charset="utf-8" src="{$base_url}Public/admin/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="{$base_url}Public/admin/kindeditor/lang/zh_CN.js"></script>
		
		<script src="{$base_url}Public/admin/js/showdate.js"></script>
		<script src="{$base_url}Public/admin/js/jquery.form.js"></script>
</head>

<body class="skin-3  navbar-fixed">
    <div class="navbar navbar-default  navbar-fixed-top" id="navbar">
        <script type="text/javascript">
            try {
                ace.settings.check('navbar', 'fixed')
            } catch (e) {}
        </script>

        <div class="navbar-container" id="navbar-container" style="height: 45px;">
            <div class="navbar-header pull-left" style="height: 45px;">
                <a href="#" class="navbar-brand">
                    <small style="font-size: 20px;">
                        <img src="{$base_url}Public/home/img/logo.png" height="23"> 后台管理系统
                    </small>
                </a>
                <!-- /.brand -->
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="grey">
                        <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="icon-ok"></i>
                                4 Tasks to complete
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">Software Update</span>
                                        <span class="pull-right">65%</span>
                                    </div>

                                    <div class="progress progress-mini ">
                                        <div style="width:65%" class="progress-bar "></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">Hardware Upgrade</span>
                                        <span class="pull-right">35%</span>
                                    </div>

                                    <div class="progress progress-mini ">
                                        <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">Unit Testing</span>
                                        <span class="pull-right">15%</span>
                                    </div>

                                    <div class="progress progress-mini ">
                                        <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">Bug Fixes</span>
                                        <span class="pull-right">90%</span>
                                    </div>

                                    <div class="progress progress-mini progress-striped active">
                                        <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    See tasks with details
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="red">
                        <a class="dropdown-toggle" href="{$base_url}Admin/Index/login.html">
                            <i class="glyphicon glyphicon-share-alt" style="width: 16px; height: 19px;"></i>
                            <span class="badge badge-info">退出登录</span>
                        </a>
                    </li>
                    <li class="purple">
                        <a class="dropdown-toggle" target="_blank" href="{$base_url}Home/Index/index.html">
                            <i class="glyphicon glyphicon-home"></i>
                            <span class="badge badge-warning ">前台首页</span>
                        </a>
                    </li>
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" style="width: 40px; height: 40px;" src="{$base_url}Public/home/img/logo.png"
                                alt="Photo" />
                            <span class="user-info">
                                <small>欢迎您,</small>
																Maxwell
                            </span>
                        </a>
                    </li>
                </ul>
                <!-- /.ace-nav -->
            </div>
            <!-- /.navbar-header -->
        </div>
        <!-- /.container -->
    </div>


    <div class="main-container container" id="main-container">
        <script type="text/javascript">
            try {
                ace.settings.check('main-container', 'fixed')
            } catch (e) {}
        </script>

        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>

            <div class="sidebar sidebar-fixed" id="sidebar">
                <script type="text/javascript">
                    try {
                        ace.settings.check('sidebar', 'fixed')
                    } catch (e) {}
                </script>
                <ul class="nav nav-list">
                    <li><!-- class="active"-->
                        <a href="{$base_url}Admin/Index/index.html">
                            <i class="icon-tags"></i>
                            <span class="menu-text"> 麦斯威尔商城后台导航 </span>
                        </a>
                    </li>
                    <li class="<eq name="Think.const.CONTROLLER_NAME" value="Product">open</eq>">
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-desktop"></i>
                            <span class="menu-text"> 产品中心 </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu" <eq name="Think.const.CONTROLLER_NAME" value="Product">style="display:block;"</eq>>
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    产品管理
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="{$base_url}Admin/Product/add">
                                            <i class="icon-plus-sign"></i>
                                            产品添加
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{$base_url}Admin/Product/index" class="dropdown-toggle">
                                            <i class="icon-list-ul"></i>
                                            产品列表
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    产品品牌管理
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="{$base_url}Admin/Brand/add">
                                            <i class="icon-plus-sign"></i>
                                            品牌添加
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{$base_url}Admin/Brand/index" class="dropdown-toggle">
                                            <i class="icon-list-ul"></i>

                                            品牌列表
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    产品分类管理
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="{$base_url}Admin/Productcat/add">
                                            <i class="icon-plus-sign"></i>
                                            产品分类添加
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{$base_url}Admin/Productcat/index" class="dropdown-toggle">
                                            <i class="icon-list-ul"></i>

                                            产品分类列表
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    产品属性管理
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="{$base_url}Admin/Attribute/add">
                                            <i class="icon-plus-sign"></i>
                                            产品属性添加
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{$base_url}Admin/Attribute/index" class="dropdown-toggle">
                                            <i class="icon-list-ul"></i>

                                            产品属性列表
                                        </a>
                                    </li>
                                </ul>
                            </li>
								<li>
									<a href="#" class="dropdown-toggle">
											<i class="icon-double-angle-right"></i>

											产品配件管理
											<b class="arrow icon-angle-down"></b>
									</a>

									<ul class="submenu">
											<li>
													<a href="{$base_url}Admin/ProductPart/add">
															<i class="icon-plus-sign"></i>
															产品配件添加
													</a>
											</li>

											<li>
													<a href="{$base_url}Admin/ProductPart/index" class="dropdown-toggle">
															<i class="icon-list-ul"></i>

															产品配件列表
													</a>
											</li>
									</ul>
							</li>
                        </ul>
                    </li>
                    <li class="<eq name="Think.const.CONTROLLER_NAME" value="Article">open</eq>">
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-desktop"></i>
                            <span class="menu-text"> 文章中心 </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu" <eq name="Think.const.CONTROLLER_NAME" value="Article">style="display:block;"</eq>>
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    文章管理
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="{$base_url}Admin/Article/add">
                                            <i class="icon-plus-sign"></i>
                                            文章添加
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{$base_url}Admin/Article/index" class="dropdown-toggle">
                                            <i class="icon-list-ul"></i>

                                            文章列表
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    文章分类管理
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="{$base_url}Admin/Articlecat/add">
                                            <i class="icon-plus-sign"></i>
                                            文章分类添加
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{$base_url}Admin/Articlecat/index" class="dropdown-toggle">
                                            <i class="icon-list-ul"></i>

                                            文章分类列表
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="<eq name="Think.const.CONTROLLER_NAME" value="Ad">open</eq>">
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-desktop"></i>
                            <span class="menu-text"> 广告中心 </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu" <eq name="Think.const.CONTROLLER_NAME" value="Ad">style="display:block;"</eq>>
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    广告管理
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="{$base_url}Admin/Ad/add">
                                            <i class="icon-plus-sign"></i>
                                            广告添加
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{$base_url}Admin/Ad/index" class="dropdown-toggle">
                                            <i class="icon-list-ul"></i>
                                            广告列表
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    轮播管理
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="{$base_url}Admin/Imgrun/add">
                                            <i class="icon-plus-sign"></i>
                                            轮播添加
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{$base_url}Admin/Imgrun/index" class="dropdown-toggle">
                                            <i class="icon-list-ul"></i>
                                            轮播列表
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="<eq name="Think.const.CONTROLLER_NAME" value="Adminuser">open</eq>">
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-desktop"></i>
                            <span class="menu-text"> 管理员中心 </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu" <eq name="Think.const.CONTROLLER_NAME" value="Adminuser">style="display:block;"</eq>>
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    管理员管理
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="{$base_url}Admin/Adminuser/add">
                                            <i class="icon-plus-sign"></i>
                                            管理员添加
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{$base_url}Admin/Adminuser/index" class="dropdown-toggle">
                                            <i class="icon-list-ul"></i>
                                            管理员列表
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    权限管理
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="{$base_url}Admin/Group/add">
                                            <i class="icon-plus-sign"></i>
                                            权限添加
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{$base_url}Admin/Group/index" class="dropdown-toggle">
                                            <i class="icon-list-ul"></i>
                                            权限列表
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="<eq name="Think.const.CONTROLLER_NAME" value="System">open</eq>">
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-desktop"></i>
                            <span class="menu-text"> 系统中心 </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu" <eq name="Think.const.CONTROLLER_NAME" value="System">style="display:block;"</eq>>
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    系统信息管理
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="{$base_url}Admin/System/add">
                                            <i class="icon-plus-sign"></i>
                                            系统信息添加
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{$base_url}Admin/System/index" class="dropdown-toggle">
                                            <i class="icon-list-ul"></i>
                                            系统信息列表
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    后台导航管理
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="{$base_url}Admin/Adminmenu/add">
                                            <i class="icon-plus-sign-sign"></i>
                                            后台导航添加
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{$base_url}Admin/Adminmenu/index" class="dropdown-toggle">
                                            <i class="icon-list-ul"></i>
                                            后台导航列表
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-double-angle-right"></i>

                                    前台导航管理
                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="{$base_url}Admin/Homemenu/add">
                                            <i class="icon-plus-sign"></i>
                                            前台导航添加
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{$base_url}Admin/Homemenu/index" class="dropdown-toggle">
                                            <i class="icon-list-ul"></i>
                                            前台导航列表
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.nav-list -->

                <!-- /.nav-list -->

                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                </div>

                <script type="text/javascript">
                    try {
                        ace.settings.check('sidebar', 'collapsed')
                    } catch (e) {}
                </script>
            </div>
