<include file="Public/header" />
<link rel="stylesheet" type="text/css" href="{$base_url}Public/home/css/index.css" />
<!--第二部分-->
<div class="content">

    <!--轮播图-->
    <div class="banner">
        <ul class="btn">
            <li class="on"></li>
            <li></li>
            <li></li>
        </ul>
        <div class="container_all">
            <ul>
                <li>
                    <img src="{$base_url}Public/home/img/banner1.jpg" />
                </li>
                <li>
                    <img src="{$base_url}Public/home/img/banner2.jpg" />
                </li>
                <li>
                    <img src="{$base_url}Public/home/img/banner3.jpg" />
                </li>
            </ul>
        </div>

    </div>

    <!--产品-->
    <div class="product">
        <!--产品上面部分-->
        <div class="title">
            <img src="{$base_url}Public/home/img/coffee.png" alt="" />
            <h1>最新商品</h1>
            <span>new product</span>
            <hr />
        </div>
        <!--产品中间部分-->
        <ul>
            <li>
                <a href="{$base_url}Home/Product/lists">
                    <img src="{$base_url}Public/home/img/kafei1.png" alt="" />
                </a>
                <h1>
                    <a href="{$base_url}Home/Product/lists">蓝山咖啡</a>
                </h1>
                <hr />
                <p>
                    <a href="{$base_url}Home/Product/lists">蓝山咖啡，是指由产自牙买加蓝山的咖啡豆冲泡而成的咖啡。其中依档次又分为牙买加蓝山咖啡和牙买加高山咖啡。蓝山山脉位于牙买加岛（Jamaica） 东部，因该山在加勒比海的环绕下，每当天气晴朗的日子，太阳直射在蔚蓝的海面上，山峰上反射出海水璀璨的蓝色光芒，故而得名。</a>
                </p>
                <img src="{$base_url}Public/home/img/index.png" alt="" />
            </li>
            <li>
                <a href="{$base_url}Home/Product/lists">
                    <img src="{$base_url}Public/home/img/kafei2.png" alt="" />
                </a>
                <h1>
                    <a href="{$base_url}Home/Product/lists">卡布奇诺</a>
                </h1>
                <hr />
                <p>
                    <a href="{$base_url}Home/Product/lists">卡布奇诺是一种加入以同量的意大利特浓咖啡和蒸汽泡沫牛奶相混合的意大利咖啡。此时咖啡的颜色，就像卡布奇诺教会的修士在深褐色的外衣上覆上一条头巾一样，咖啡因此得名。传统的卡布奇诺咖啡是三分之一浓缩咖啡，三分之一蒸汽牛奶和三分之一泡沫牛奶，并在上面撒上小颗粒的肉桂粉末。</a>
                </p>
                <img src="{$base_url}Public/home/img/index.png" alt="" />
            </li>
            <li>
                <a href="{$base_url}Home/Product/lists">
                    <img src="{$base_url}Public/home/img/kafei3.png" alt="" />
                </a>
                <h1>
                    <a href="{$base_url}Home/Product/lists">摩卡</a>
                </h1>
                <hr />
                <p>
                    <a href="{$base_url}Home/Product/lists">摩卡是一种最古老的咖啡，其历史要追溯到咖啡的起源。它是由意大利浓缩咖啡、巧克力酱、鲜奶油和牛奶混合而成，摩卡得名于有名的摩卡港。十五世纪，整个中东非咖啡国家向外运输业不兴盛，也门摩卡是当时红海附近主要输出一个商港，当时咖啡主要是集中到摩卡港再向外输出的非洲咖啡，都被统称摩卡咖啡。</a>
                </p>
                <img src="{$base_url}Public/home/img/index.png" alt="" />
            </li>
        </ul>
    </div>

    <!--热门商品-->
    <div class="commodities">
        <!--热门上面部分-->
        <div class="title">
            <img src="{$base_url}Public/home/img/coffee.png" alt="" />
            <h1>热门商品</h1>
            <span>Hot Commodities</span>
            <hr />
        </div>
        <!--热门中间部分-->
        <ul class="com_mid">
            <!--中间左边部分-->
            <li>
                <a href="{$base_url}Home/Product/lists">
                    <img src="{$base_url}Public/home/img/mid_coffee.png" alt="" />
                </a>
                <div>
                    <a href="{$base_url}Home/Product/lists">卡布奇诺</a>
                </div>
            </li>
            <!--拿铁-->
            <li>
                <a href="{$base_url}Home/Product/lists">
                    <img src="{$base_url}Public/home/img/mid_coffee1.png" alt="" />
                </a>
                <div>
                    <a href="{$base_url}Home/Product/lists">拿铁</a>
                </div>
            </li>
            <!--蓝山-->
            <li>
                <a href="{$base_url}Home/Product/lists">
                    <img src="{$base_url}Public/home/img/lansahn.png" alt="" />
                </a>
                <div>
                    <a href="{$base_url}Home/Product/lists">蓝山</a>
                </div>
            </li>
            <li>
                <a href="{$base_url}Home/Product/lists">
                    <img src="{$base_url}Public/home/img/moka.png" alt="" />
                </a>
                <div>
                    <a href="{$base_url}Home/Product/lists">摩卡</a>
                </div>
            </li>
        </ul>

    </div>

    <!--推荐商品-->
    <div class="recommend">
        <!--推荐商品上面部分-->
        <div class="title">
            <img src="{$base_url}Public/home/img/coffee.png" alt="" />
            <h1>推荐商品</h1>
            <hr />
        </div>
        <div class="title_bot">
            <span>CafeMocha</span>
            <p>摩卡咖啡（CafeMocha）是一种最古老的咖啡，其历史要追溯到咖啡的起源。它是由意大利浓缩咖啡、巧克力酱、鲜奶油和牛奶混合而成，摩卡得名于有名的摩卡港。</p>
            <div>
                <a href="{$base_url}Home/Product/lists">
                    <img src="{$base_url}Public/home/img/bg1.png" />
                </a>
            </div>
            <a href="{$base_url}Home/Product/lists" class="more">查看更多</a>
        </div>



        <!--推荐商品中间部分-->
        <div class="rec_mid">
            <!--推荐中间左边部分-->
            <div class="rec_mid_left">
                <a href="{$base_url}Home/Product/lists">
                    <img src="{$base_url}Public/home/img/moka2.png" />
                </a>
                <div class="rec_hide">
                    <h2>摩卡</h2>
                    <a href="{$base_url}Home/Product/lists">查看更多</a>
                </div>
            </div>
            <!--推荐中间右边部分-->
            <div class="rec_mid_right">
                <p>摩卡咖啡（又名莫加或者摩卡（音译），又意译为阿拉伯优质咖啡，英文是 Café Mocha，意思是巧克力咖啡）是意式拿铁咖啡 (Café Latté) 的变种。</p>
                <p>和经典的意式拿铁咖啡一样，它通常是由三分之一的意式特浓咖啡(Caffè Espresso) 和三分之二的奶沫配成，不过它还会加入少量巧克力。</p>
                <p>巧克力通常会以巧克力糖浆的形式添加，但某些咖啡售卖系统便会以即溶巧克力粉取代。有时，打起了的奶油、可可粉，和绵花糖都会加在上面用来加重咖啡的香味和作为装饰之用。 和意式卡布奇诺(Cappuccino) 不一样，摩卡咖啡上面是没有鲜奶泡沫的。取而代之，摩卡咖啡上面通常是一些打起了的奶油和肉桂粉或者可可粉其中之一。也有可能加入葵蜜饯粉在表面作为装饰并且增加风味。</p>
                <p>有种摩卡的变种是白摩卡咖啡 (White Café Mocha)，用白巧克力代替牛奶和黑巧克力。除了白摩卡咖啡之外，还有一些变种是用两种巧克力糖浆混合，它们有时被称为“斑马”（Zebras），也有时会被滑稽地叫作“燕尾服摩卡”（Tuxedo
                    Mocha）。</p>
            </div>
        </div>
    </div>
    <!--爆款推荐-->
    <div class="hot">
        <div class="title">爆款推荐 HOT</div>
        <p>卡布奇诺是一种加入以同量的意大利特浓咖啡和蒸汽泡沫牛奶相混合的意大利咖啡。此时咖啡的颜色，就像卡布奇诺教会的修士在深褐色的外衣上覆上一条头巾一样，咖啡因此得名。传统的卡布奇诺咖啡是三分之一浓缩咖啡，三分之一蒸汽牛奶和三分之一泡沫牛奶，并在上面撒上小颗粒的肉桂粉末。</p>
        <ul>
            <li>
                <a href="{$base_url}Home/Product/lists">
                    <img src="{$base_url}Public/home/img/ka1.png" alt="" />
                </a>
                <a href="{$base_url}Home/Product/lists">卡布奇诺 ￥18.8</a>
            </li>
            <li>
                <a href="{$base_url}Home/Product/lists">
                    <img src="{$base_url}Public/home/img/ka2.png" alt="" />
                </a>
                <a href="{$base_url}Home/Product/lists">卡布奇诺 ￥18.8</a>
            </li>
            <li>
                <a href="{$base_url}Home/Product/lists">
                    <img src="{$base_url}Public/home/img/ka3.png" alt="" />
                </a>
                <a href="{$base_url}Home/Product/lists">卡布奇诺 ￥18.8</a>
            </li>
            <li>
                <a href="{$base_url}Home/Product/lists">
                    <img src="{$base_url}Public/home/img/ka5.png" alt="" />
                </a>
                <a href="{$base_url}Home/Product/lists">卡布奇诺 ￥18.8</a>
            </li>
            <li>
                <a href="{$base_url}Home/Product/lists">
                    <img src="{$base_url}Public/home/img/ka6.png" alt="" />
                </a>
                <a href="{$base_url}Home/Product/lists">卡布奇诺 ￥18.8</a>
            </li>
            <li>
                <a href="{$base_url}Home/Product/lists">
                    <img src="{$base_url}Public/home/img/ka7.png" alt="" />
                </a>
                <a href="{$base_url}Home/Product/lists">卡布奇诺 ￥18.8</a>
            </li>
        </ul>
        <a href="{$base_url}Home/Shop/list">MORE</a>
    </div>
</div>
<include file="Public/footer" />
