<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>支付</title>
		<link rel="stylesheet" type="text/css" href="{$base_url}Public/home/css/common.css" />
		<link rel="stylesheet" type="text/css" href="{$base_url}Public/home/css/pay.css" />
	</head>

	<body>
		<!--头部-->
		<div class="header">
			<!--最上边的灰色导航-->
			<div class="top">
				<div class="container">
					<!--灰色部分左边文字-->
					<span>亲，欢迎来到Maxwell House咖啡商城!</span>
					<!--灰色部分右边a标签-->
					<div>
						<a href="login.html">请登录</a>
						<a href="register.html">快速注册</a>
						<select>
							<option>我的订单</option>
							<option>其他订单</option>
							<option>我的订单</option>
						</select>
						<a href="##">帮助中心</a>
					</div>
				</div>
			</div>
			<!--头部中间部分-->
			<div class="middle">
				<div>
					<!--logo-->
					<a href="index.html"><img src="{$base_url}Public/home/img/logo.png" /></a>
					<!--搜索框-->
					<div class="search">
						<form>
							<input type="text" />
							<input type="submit" value="搜索" />
						</form>
						<ul>
						<li>
							<a href="shop_list.html" class="current">卡布奇诺</a>
						</li>
						<li>
							<a href="shop_list.html">摩卡咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">黑咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">经典原味</a>
						</li>
						<li>
							<a href="shop_list.html">卡布奇诺</a>
						</li>
					</ul>
					</div>

					<!--购物车-->
					<div class="shop_carts">
						<a href="shop_carts.html"><img src="{$base_url}Public/home/img/shop(index).png" /><span>我的购物车</span></a>
						<a href="shop_carts.html" class="num">0</a>
					</div>
					<!--搜索框下面的文字-->
					
				</div>
			</div>
			<!--头部导航部分-->
			<div class="nav">
				<div>
					<div class="left">
						<a href="##"> 全部商品分类 <img src="{$base_url}Public/home/img/jiankuohao.png" alt="" /></a>
						<ul class="clearfix">
							<li>
								<h2>咖啡分类</h2>
								<ul>
									<li>
										<a href="shop_list.html">速溶咖啡</a>
									</li>
									<li>
										<a href="shop_list.html">咖啡豆</a>
									</li>
									<li>
										<a href="shop_list.html">咖啡粉</a>
									</li>
									<li>
										<a href="shop_list.html">其它</a>
									</li>
								</ul>
							</li>
							<li>
								<h2>咖啡口味</h2>
								<ul>
									<li>
										<a href="shop_list.html">原味咖啡</a>
									</li>
									<li>
										<a href="shop_list.html">特浓咖啡</a>
									</li>
									<li>
										<a href="shop_list.html">黑咖啡</a>
									</li>
									<li>
										<a href="shop_list.html">摩卡咖啡</a>
									</li>
									<li>
										<a href="shop_list.html">拿铁咖啡</a>
									</li>
									<li>
										<a href="shop_list.html">白咖啡</a>
									</li>
									<li>
										<a href="shop_list.html">卡布奇诺</a>
									</li>
									<li>
										<a href="shop_list.html">其它</a>
									</li>
								</ul>
							</li>
							<li>
								<h2>是否含咖啡因</h2>
								<ul>
									<li>
										<a href="shop_list.html">含咖啡因</a>
									</li>
									<li>
										<a href="shop_list.html">低咖啡因</a>
									</li>
									<li>
										<a href="shop_list.html">无咖啡因</a>
									</li>
									<li>
										<a href="shop_list.html">其它</a>
									</li>
								</ul>
							</li>
							<li>
								<h2>是否含糖</h2>
								<ul>
									<li>
										<a href="shop_list.html">无糖</a>
									</li>
									<li>
										<a href="shop_list.html">含糖</a>
									</li>
									<li>
										<a href="shop_list.html">其它</a>
									</li>
								</ul>
							</li>
							<li>
								<h2>包装单位</h2>
								<ul>
									<li>
										<a href="shop_list.html">袋装</a>
									</li>
									<li>
										<a href="shop_list.html">盒装</a>
									</li>
									<li>
										<a href="shop_list.html">瓶装</a>
									</li>
									<li>
										<a href="shop_list.html">罐装</a>
									</li>
									<li>
										<a href="shop_list.html">其它</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<ul>
						<li>
							<a href="index.html">首页</a>
						</li>
						<li>
							<a href="shop_list.html">新年金彩礼盒</a>
						</li>
						<li>
							<a href="shop_list.html">经典原味咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">香醇浓厚咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">清新奶香咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">麦氏典藏系列</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!--第二部分-->
		<div class="content">
			<!--进度条-->
			<div class="cont_top">
				<ul>
					<li>
						<hr />
						<div>1</div>
						<p>我的购物车</p>
					</li>
					<li>
						<hr />
						<div>2</div>
						<p>填写核对订单信息</p>
					</li>
					<li class="one">
						<hr />
						<div>3</div>
						<p>成功提交订单</p>
					</li>
				</ul>
			</div>
			<!--成功支付-->
			<div class="cont_mid">
				<div>
					<img src="{$base_url}Public/home/img/duigou.png" alt="" />
				</div>
				<div>
					<p>您的订单已生成，请尽快付款</p>
					<p>应付金额：
						<span>￥78.00</span>
					</p>
					<p>请您在提交订单后<span>72</span>小时内完成支付，否则订单会自动取消</p>
				</div>
			</div>

			<!--付款方式-->
			<div class="cont_bot">
				<p>您可以选择付款方式</p>
				<!--付款方式-->
				<div class="pay_top">
					<ul>
						<li>
							<p>网银支付</p>
							<ul>
								<li>
									<input type="radio" name="check" id="cart_a" class="chk" />
									<label for="cart_a"></label>
									<label for="cart_a" class="one">
										<img src="{$base_url}Public/home/img/nongyeyinhang.png" alt="" />
									</label>
								</li>
								<li>
									<input type="radio" name="check" id="cart_b" class="chk" />
									<label for="cart_b"></label>
									<label for="cart_b" class="one">
										<img src="{$base_url}Public/home/img/gongshang.png" alt="" />
									</label>
								</li>
								<li>
									<input type="radio" name="check" id="cart_c" class="chk" />
									<label for="cart_c"></label>
									<label for="cart_c" class="one">
										<img src="{$base_url}Public/home/img/zhonghuoyinhang.png" alt="" />
									</label>
								</li>
								<li>
									<input type="radio" name="check" id="cart_d" class="chk" />
									<label for="cart_d"></label>
									<label for="cart_d" class="one">
										<img src="{$base_url}Public/home/img/jiansheyinh.png" alt="" />
									</label>
								</li>
								<li>
									<input type="radio" name="check" id="cart_e" class="chk" />
									<label for="cart_e"></label>
									<label for="cart_e" class="one">
										<img src="{$base_url}Public/home/img/guangfa.png" alt="" />
									</label>
								</li>
								<li>
									<input type="radio" name="check" id="cart_f" class="chk" />
									<label for="cart_f"></label>
									<label for="cart_f" class="one">
										<img src="{$base_url}Public/home/img/beijingyinghan.png" alt="" />
									</label>
								</li>
								<li>
									<input type="radio" name="check" id="cart_g" class="chk" />
									<label for="cart_g"></label>
									<label for="cart_g" class="one">
										<img src="{$base_url}Public/home/img/jiaotong.png" alt="" />
									</label>
								</li>
								<li>
									<input type="radio" name="check" id="cart_h" class="chk" />
									<label for="cart_h"></label>
									<label for="cart_h" class="one">
										<img src="{$base_url}Public/home/img/zhaoshang.png" alt="" />
									</label>
								</li>
								<li>
									<input type="radio" name="check" id="cart_i" class="chk" />
									<label for="cart_i"></label>
									<label for="cart_i" class="one">
										<img src="{$base_url}Public/home/img/minsheng.png" alt="" />
									</label>
								</li>
								<li>
									<input type="radio" name="check" id="cart_k" class="chk" />
									<label for="cart_k"></label>
									<label for="cart_k" class="one">
										<img src="{$base_url}Public/home/img/minsheng.png" alt="" />
									</label>
								</li>
								<li>
									<input type="radio" name="check" id="cart_l" class="chk" />
									<label for="cart_l"></label>
									<label for="cart_l" class="one">
										<img src="{$base_url}Public/home/img/pingan.png" alt="" />
									</label>
								</li>
								<li>
									<input type="radio" name="check" id="cart_m" class="chk" />
									<label for="cart_m"></label>
									<label for="cart_m" class="one">
										<img src="{$base_url}Public/home/img/zhongxin.png" alt="" />
									</label>
								</li>
							</ul>
						</li>
						<li>
							<p>平台支付</p>
							<ul>
								<li>
									<input type="radio" name="check" id="cart_q" class="chk" />
									<label for="cart_q"></label>
									<label for="cart_q" class="one">
										<img src="{$base_url}Public/home/img/zhifubaoorder.png" alt="" />
									</label>
								</li>
								<li>
									<input type="radio" name="check" id="cart_w" class="chk" />
									<label for="cart_w"></label>
									<label for="cart_w" class="one">
										<img src="{$base_url}Public/home/img/caifutong.png" alt="" />
									</label>
								</li>
								<li>
									<input type="radio" name="check" id="cart_z" class="chk" />
									<label for="cart_z"></label>
									<label for="cart_z" class="one">
										<img src="{$base_url}Public/home/img/weixinzhifu.png" alt="" />
									</label>
								</li>
							</ul>
						</li>
					</ul>

					<div>
						<input type="radio" name="check" id="cart_o" class="chk" />
						<label for="cart_o"></label>
						<label for="cart_o" class="one">
							<img src="{$base_url}Public/home/img/zhonghuoyinhang.png" alt="" />
							<span>***5148</span>
						</label>
						<p>
							<span class="card"><a href="##">储存卡</a></span><span><a href="##">快捷</a></span>
						</p>
						<p class="rmb">支付
							<span>¥78.00</span> 元
						</p>
					</div>

				</div>
				<!--输入密码-->
				<div class="pay_bot">
					<p>
						<img src="{$base_url}Public/home/img/zhengque.png" alt="" />
						<span>您在安全的环境中，请放心使用！</span>
					</p>
					<p>支付密码：</p>
					<!--六位密码-->
					<div>
						<div class="box"></div>
						<a href="##">忘记密码？</a>
						<p>请输入6位数字支付密码</p>
					</div>
					<!--按钮-->
					<a href="##" onclick="pay()">确认付款</a>
				</div>

			</div>

		</div>
		<!--最底部-->
		<div class="footer">
			<div class="footer_bot">
				<ul class="pic">
					<li>
						<a href="##"><img src="{$base_url}Public/home/img/di1.png" alt="" /></a>
					</li>
					<li>
						<a href="##"><img src="{$base_url}Public/home/img/di2.png" alt="" /></a>
					</li>
					<li>
						<a href="##"><img src="{$base_url}Public/home/img/di3.png" alt="" /></a>
					</li>
					<li>
						<a href="##"><img src="{$base_url}Public/home/img/di4.png" alt="" /></a>
					</li>
				</ul>
				<ul class="word">
					<li>苏ICP备14039882号-4</li>
					<li>苏B1-20150021</li>
					<li>麦斯威尔有限公司</li>
				</ul>
			</div>
		</div>
		<script src="{$base_url}Public/home/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="{$base_url}Public/home/js/jquery-migrate-1.2.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="{$base_url}Public/home/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var box = document.getElementsByClassName("box")[0];

			function createDIV(num) {
				for(var i = 0; i < num; i++) {
					var pawDiv = document.createElement("div");
					pawDiv.className = "pawDiv";
					box.appendChild(pawDiv);
					var paw = document.createElement("input");
					paw.type = "password";
					paw.className = "paw";
					paw.maxLength = "1";
					pawDiv.appendChild(paw);
				}
			}
			createDIV(6);
			var pawDiv = document.getElementsByClassName("pawDiv");
			var paw = document.getElementsByClassName("paw");
			var pawDivCount = pawDiv.length;
			/*设置第一个输入框默认选中*/
			//			pawDiv[0].setAttribute("style", "border: 1px solid deepskyblue;");
			paw[0].readOnly = false;
//			paw[0].focus();
			var errorPoint = document.getElementsByClassName("errorPoint")[0];
			/*绑定pawDiv点击事件*/
			function func() {
				for(var i = 0; i < pawDivCount; i++) {
					pawDiv[i].addEventListener("click", function() {
						pawDivClick(this);
					});
					paw[i].onkeyup = function(event) {
						if(event.keyCode >= 48 && event.keyCode <= 57 || event.keyCode >= 96 && event.keyCode <= 105) { /*输入0-9*/
							changeDiv();
							//							errorPoint.style.display = "none";
						} else if(event.keyCode == "8") { /*退格回删事件*/
							firstDiv();
						} else { /*输入非0-9*/
							//							errorPoint.style.display = "block";
							this.value = "";
						}
					};
				}
			}
			func();
			/*定义pawDiv点击事件*/
			var pawDivClick = function(e) {
				for(var i = 0; i < pawDivCount; i++) {
					pawDiv[i].setAttribute("style", "border:none");
				}
				//				e.setAttribute("style", "border: 1px solid deepskyblue;");
			};
			/*定义自动选中下一个输入框事件*/
			var changeDiv = function() {
				for(var i = 0; i < pawDivCount; i++) {
					if(paw[i].value.length == "1") { /*处理当前输入框*/
						paw[i].blur(); /*处理上一个输入框*/
						paw[i + 1].focus();
						pawDivClick(pawDiv[i + 1]);
					}
				}
			};
			/*回删时选中上一个输入框事件*/
			var firstDiv = function() {
				for(var i = 0; i < pawDivCount; i++) {
					if(paw[i].value.length == "0") { /*处理当前输入框*/
						console.log(i);
						paw[i].blur(); /*处理上一个输入框*/
						paw[i - 1].focus();
						paw[i - 1].readOnly = false;
						paw[i - 1].value = "";
						pawDivClick(pawDiv[i - 1]);
						break;
					}
				}
			};

			function pay() {
				if(confirm("确定付款吗？")) {
					window.location.href = "pay_success.html"
				} else {
					window.location.href = "pay_failure.html"
				}
			}
		</script>
	</body>

</html>