<include file="Public/header" />
	<link rel="stylesheet" type="text/css" href="{$base_url}Public/home/css/shop_list.css" />
	<script type="text/javascript">
			$(function() {
				var input1 = document.getElementsByTagName("input")[5];
				input1.style.color = "gray";
				input1.onfocus = function() {
					if(this.value == "搜索关键字") {
						this.value = "";
						this.style.color = "gray";
					}
				}
				input1.onblur = function() {
					if(this.value == "") {
						this.value = "搜索关键字";
						this.style.color = "gray";
					} else {
						this.style.color = "gray";
					}
				}

				function del() {
					$(".coffee").click(function() {
						$(this).parent().remove();
					})
				}
				del();
				$("#taste li").click(function() {
					if($(".taste").eq(0).length > 0) {
						$(".taste").eq(0).html($(this).eq(0).html() + "<span class='coffee'>&times;</span>");
					} else {
						$("#change").append("<li class='taste'>" + $(this).eq(0).html() + "<span class='coffee'>&times;</span></li>");
					}
					del();
				})
				$("#caffeine li").click(function() {
					if($(".caffeine").eq(0).length > 0) {
						$(".caffeine").eq(0).html($(this).eq(0).html() + "<span class='coffee'>&times;</span>");
					} else {
						$("#change").append("<li class='caffeine'>" + $(this).eq(0).html() + "<span class='coffee'>&times;</span></li>");
					}
					del();
				})
				$("#pack li").click(function() {
					if($(".pack").eq(0).length > 0) {
						$(".pack").eq(0).html($(this).eq(0).html() + "<span class='coffee'>&times;</span>");
					} else {
						$("#change").append("<li class='pack'>" + $(this).eq(0).html() + "<span class='coffee'>&times;</span></li>");
					}
					del();
				})
				$("#price li").click(function() {
					if($(".price").eq(0).length > 0) {
						$(".price").eq(0).html($(this).eq(0).html() + "<span class='coffee'>&times;</span>");
					} else {
						$("#change").append("<li class='price'>" + $(this).eq(0).html() + "<span class='coffee'>&times;</span></li>");
					}
					del();
				})
				$(".cont_top>div>div:first-child+div div ul li").click(function() {
					$(this).addClass("current").siblings().removeClass("current");
				})
			})
		</script>
		<!--第二部分-->

		<div class="content">
			<!--第二部分的上面部分-->
			<div class="cont_top">
				<!--第一行内容-->
				<ul>
					<span>当前位置：</span>
					<li>
						<a href="index.html">首页</a> >
					</li>
					<li>
						<a href="##">商品分类 </a> >
					</li>
					<li>
						<a href="##">经典原味咖啡</a>
					</li>
				</ul>
				<!--红色框部分-->
				<div>
					<div>
						<span>您已经选择:</span>
						<ul id="change">
							
						</ul>
						<img src="{$base_url}Public/home/img/jiahao.png" alt="" />
					</div>
					<div>
						<div>
							<span>咖啡口味：</span>
							<ul id="taste">
								<li>
									原味咖啡
								</li>
								<li>
									特浓咖啡
								</li>
								<li>
									黑咖啡
								</li>
								<li>
									白咖啡
								</li>
								<li>
									摩卡咖啡
								</li>
								<li>
									拿铁咖啡
								</li>
								<li>
									卡布奇诺
								</li>
								<li>
									其它
								</li>

							</ul>
						</div>
						<div>
							<span>是否含咖啡因：</span>
							<ul id="caffeine">
								<li>
									含咖啡因
								</li>
								<li>
									无咖啡因
								</li>
								<li>
									低咖啡因
								</li>
								<li>
									其它
								</li>
							</ul>
						</div>
						<div>
							<span>包装单位：</span>
							<ul id="pack">
								<li>
									盒装
								</li>
								<li>
									袋装
								</li>
								<li>
									瓶装
								</li>
								<li>
									罐装
								</li>
								<li>
									其它
								</li>
							</ul>
						</div>
						<div>
							<span>价格：</span>
							<ul id="price">
								<li>
									0-19
								</li>
								<li>
									20-29
								</li>
								<li>
									30-39
								</li>
								<li>
									40-69
								</li>
								<li>
									70-89
								</li>
								<li>
									90-99
								</li>
								<li>
									100-199
								</li>
							</ul>
							<form>
								<input type="text" class="txt" />-<input type="text" class="txt"/>
								<input type="button" value="确定"/>
							</form>
							<form class="cont_up">
								<input type="text" value="搜索关键字" />
								<input type="button" value="确定" />
							</form>
						</div>
					</div>
				</div>

			</div
			<!--商品-->
			<ul class="product">
			<volist name="rs" id="v" key="d">
				<li>
					<a href="{$base_url}Home/Product/show?id={$v.id}"><img src="{$v.pro_photo}" alt="" width="278" height="184"/></a>
					<h1>￥{$v.shop_price}</h1>
					<p>
						<a href="pro_details.html">
							<span>{$v.brand_name}新款</span>&nbsp;{$v.pro_name}
						</a>
					</p>
				</li>
			</volist>
			</ul>
			<!--分页-->
			<ul class="page">
				<li>
					<a href="##">首页</a>
				</li>
				<li>
					<a href="##">上一页</a>
				</li>
				<li>
					<a href="##" class="current">1</a>
				</li>
				<li>
					<a href="##">2</a>
				</li>
				<li>
					<a href="##">3</a>
				</li>
				<li>
					<a href="##">4</a>
				</li>
				<li>
					<a href="##">5</a>
				</li>
				<li>
					<a href="##">6</a>
				</li>
				<li>
					<a href="##">下一页</a>
				</li>
				<li>
					<a href="##">末页</a>
				</li>
				<span>共 19 页</span>
				<span>到第<input type="text" maxlength="6" value="1" class="txt"/>页</span>
				<button>确定</button>
			</ul>
		</div>
		<!--第三部分-->
		<include file="Public/footer" />