<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>登陆</title>
		<link rel="stylesheet" href="{$base_url}Public/home/css/common.css" />
		<link rel="stylesheet" href="{$base_url}Public/home/css/login.css" />
		<script src="{$base_url}Public/home/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="{$base_url}Public/home/js/jquery-migrate-1.2.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="{$base_url}Public/home/js/common.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<!--头部-->
		<div class="header">
			<!--最上边的灰色导航-->
			<div class="top">
				<div class="container">
					<!--灰色部分左边文字-->
					<span>亲，欢迎来到Maxwell House咖啡商城!</span>
					<!--灰色部分右边a标签-->
					<div>
						<a href="login.html">请登录</a>
						<a href="register.html">快速注册</a>
						<select>
							<option>我的订单</option>
							<option>其他订单</option>
							<option>我的订单</option>
						</select>
						<a href="##">帮助中心</a>
					</div>
				</div>
			</div>
			<!--头部中间部分-->
			<div class="middle">
				<div>
					<!--logo-->
					<a href="index.html"><img src="{$base_url}Public/home/img/logo.png" /></a>
					<!--搜索框-->
					<div class="search">
						<form>
							<input type="text" />
							<input type="submit" value="搜索" />
						</form>
						<ul>
						<li>
							<a href="shop_list.html" class="current">卡布奇诺</a>
						</li>
						<li>
							<a href="shop_list.html">摩卡咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">黑咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">经典原味</a>
						</li>
						<li>
							<a href="shop_list.html">卡布奇诺</a>
						</li>
					</ul>
					</div>

					<!--购物车-->
					<div class="shop_carts">
						<a href="shop_carts.html"><img src="{$base_url}Public/home/img/shop(index).png" /><span>我的购物车</span></a>
						<a href="shop_carts.html" class="num">0</a>
					</div>
					<!--搜索框下面的文字-->
					
				</div>
			</div>
			<!--头部导航部分-->
			<div class="nav">
				<div>
					<div class="left">
						<a href="##"> 全部商品分类 <img src="{$base_url}Public/home/img/jiankuohao.png" alt="" /></a>
						<ul class="clearfix">
							<li>
								<h2>咖啡分类</h2>
								<ul>
									<li><a href="shop_list.html">速溶咖啡</a></li>
									<li><a href="shop_list.html">咖啡豆</a></li>
									<li><a href="shop_list.html">咖啡粉</a></li>
									<li><a href="shop_list.html">其它</a></li>
								</ul>
							</li>
							<li>
								<h2>咖啡口味</h2>
								<ul>
									<li><a href="shop_list.html">原味咖啡</a></li>
									<li><a href="shop_list.html">特浓咖啡</a></li>
									<li><a href="shop_list.html">黑咖啡</a></li>
									<li><a href="shop_list.html">摩卡咖啡</a></li>
									<li><a href="shop_list.html">拿铁咖啡</a></li>
									<li><a href="shop_list.html">白咖啡</a></li>
									<li><a href="shop_list.html">卡布奇诺</a></li>
									<li><a href="shop_list.html">其它</a></li>
								</ul>
							</li>
							<li>
								<h2>是否含咖啡因</h2>
								<ul>
									<li><a href="shop_list.html">含咖啡因</a></li>
									<li><a href="shop_list.html">低咖啡因</a></li>
									<li><a href="shop_list.html">无咖啡因</a></li>
									<li><a href="shop_list.html">其它</a></li>
								</ul>
							</li>
							<li>
								<h2>是否含糖</h2>
								<ul>
									<li><a href="shop_list.html">无糖</a></li>
									<li><a href="shop_list.html">含糖</a></li>
									<li><a href="shop_list.html">其它</a></li>
								</ul>
							</li>
							<li>
								<h2>包装单位</h2>
								<ul>
									<li><a href="shop_list.html">袋装</a></li>
									<li><a href="shop_list.html">盒装</a></li>
									<li><a href="shop_list.html">瓶装</a></li>
									<li><a href="shop_list.html">罐装</a></li>
									<li><a href="shop_list.html">其它</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<ul>
						<li>
							<a href="index.html">首页</a>
						</li>
						<li>
							<a href="shop_list.html">新年金彩礼盒</a>
						</li>
						<li>
							<a href="shop_list.html">经典原味咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">香醇浓厚咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">清新奶香咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">麦氏典藏系列</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!--第二部分-->
		<div class="content">
			<!--左边图片-->
			<img src="{$base_url}Public/home/img/goin.png" alt="" />
			<!--右边登录-->
			<div>
				<!--登录上面部分-->
				<div class="cont_top">
					<span>会员登录</span>
					<img src="{$base_url}Public/home/img/denglu.png" alt="" />
				</div>
				<!--登录中间部分-->
				<div class="cont_mid">
					<form>
						<div>
							<label for="name">登录名：</label>
							<input type="text" id="name" />
						</div>
						<div>
							<label for="password">密码：</label>
							<input type="password" id="password" />
						</div>
						<div>
							<label for="yan">验证码：</label>
							<input type="text" id="yan" />
							<img src="{$base_url}Public/home/img/yanzhengma.png" id="verify" />
							<a href="##" class="act">
								<span>看不清，换一张</span>
							</a>
						</div>
						<input type="submit" value="登录" />
					</form>
					<a href="##">忘加密码？</a>
					<a href="register.html" class="free">免费注册</a>
				</div>
				<!--登录下面部分-->
				<ul class="cont_bot">
					<span>合作伙伴账户登录:</span>
					<li>
						<img src="{$base_url}Public/home/img/qq.png" alt="" />
						<a href="##">QQ登录</a>
					</li>
					<li>
						<img src="{$base_url}Public/home/img/weixin.png" alt="" />
						<a href="##">微信登录</a>
					</li>
					<li>
						<img src="{$base_url}Public/home/img/zhifubao.png" alt="" />
						<a href="##">支付宝登录</a>
					</li>
				</ul>
			</div>

		</div>

		<!--最底部-->
		<div class="footer">
			<div class="footer_bot">
				<ul class="pic">
					<li>
						<a href="##"><img src="{$base_url}Public/home/img/di1.png" alt="" /></a>
					</li>
					<li>
						<a href="##"><img src="{$base_url}Public/home/img/di2.png" alt="" /></a>
					</li>
					<li>
						<a href="##"><img src="{$base_url}Public/home/img/di3.png" alt="" /></a>
					</li>
					<li>
						<a href="##"><img src="{$base_url}Public/home/img/di4.png" alt="" /></a>
					</li>
				</ul>
				<ul class="word">
					<li>苏ICP备14039882号-4</li>
					<li>苏B1-20150021</li>
					<li>麦斯威尔有限公司</li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">
			var num = 0;
			$('.act').click(function() {
				num++;
				if(num == 3) {
					num = 0;
				}
				var src = "code (0)/code (1)/code (2).png";
				$("#verify").attr('src', "{$base_url}Public/home/img/code (" + num + ").png");
			})
		</script>
	</body>

</html>