<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的评价</title>
		<link rel="stylesheet" href="{$base_url}Public/home/css/common.css" />
		<link rel="stylesheet" href="{$base_url}Public/home/css/comment.css" />
		<script src="{$base_url}Public/home/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="{$base_url}Public/home/js/jquery-migrate-1.2.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="{$base_url}Public/home/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				var input1 = document.getElementsByTagName("textarea")[0];
				input1.style.color = "gray";
				input1.onfocus = function() {
					if(this.value == "感谢您的宝贵的建议！") {
						this.value = "";
						this.style.color = "gray";
					}
				}
				input1.onblur = function() {
					if(this.value == "") {
						this.value = "感谢您的宝贵的建议！";
						this.style.color = "gray";
					} else {
						this.style.color = "gray";
					}
				}
				$(".cont_right_bot>div>div").hover(function() {
					var index = $(this).index()-1;
					console.log(index)
					for(var i = 0; i <= index; i++) {
						
						$(".cont_right_bot>div>div").eq(i).addClass("star2");
						console.log($(".cont_right_bot>div>div"))
					}
				}, function() {
					for(var i = 0; i < 5; i++) {
						$(".cont_right_bot>div>div").eq(i).removeClass("star2");
					}
				})

				$(".cont_right_bot>div>div").click(function() {
					var index = $(this).index()-1;
					for(var i = 0; i < 5; i++) {
						$(".cont_right_bot>div>div").eq(i).removeClass("star3");
					}
					
					for(var i = 0; i <= index; i++) {
						$(".cont_right_bot>div>div").eq(i).addClass("star3");
					}
				})
			})
		</script>
	</head>

	<body>
		<!--头部-->
		<div class="header">
			<!--最上边的灰色导航-->
			<div class="top">
				<div class="container">
					<!--灰色部分左边文字-->
					<span>亲，欢迎来到Maxwell House咖啡商城!</span>
					<!--灰色部分右边a标签-->
					<div>
						<a href="login.html">请登录</a>
						<a href="register.html">快速注册</a>
						<select>
							<option>我的订单</option>
							<option>其他订单</option>
							<option>我的订单</option>
						</select>
						<a href="##">帮助中心</a>
					</div>
				</div>
			</div>
			<!--头部中间部分-->
			<div class="middle">
				<div>
					<!--logo-->
					<a href="index.html"><img src="{$base_url}Public/home/img/logo.png" /></a>
					<!--搜索框-->
					<div class="search">
						<form>
							<input type="text" />
							<input type="submit" value="搜索" />
						</form>
						<ul>
							<li>
								<a href="shop_list.html" class="current">卡布奇诺</a>
							</li>
							<li>
								<a href="shop_list.html">摩卡咖啡</a>
							</li>
							<li>
								<a href="shop_list.html">黑咖啡</a>
							</li>
							<li>
								<a href="shop_list.html">经典原味</a>
							</li>
							<li>
								<a href="shop_list.html">卡布奇诺</a>
							</li>
						</ul>
					</div>

					<!--购物车-->
					<div class="shop_carts">
						<a href="shop_carts.html"><img src="{$base_url}Public/home/img/shop(index).png" /><span>我的购物车</span></a>
						<a href="shop_carts.html" class="num">0</a>
					</div>
					<!--搜索框下面的文字-->

				</div>
			</div>
			<!--头部导航部分-->
			<div class="nav">
				<div>
					<div class="left">
						<a href="##"> 全部商品分类 <img src="{$base_url}Public/home/img/jiankuohao.png" alt="" /></a>
						<ul class="clearfix">
							<li>
								<h2>咖啡分类</h2>
								<ul>
									<li>
										<a href="shop_list.html">速溶咖啡</a>
									</li>
									<li>
										<a href="shop_list.html">咖啡豆</a>
									</li>
									<li>
										<a href="shop_list.html">咖啡粉</a>
									</li>
									<li>
										<a href="shop_list.html">其它</a>
									</li>
								</ul>
							</li>
							<li>
								<h2>咖啡口味</h2>
								<ul>
									<li>
										<a href="shop_list.html">原味咖啡</a>
									</li>
									<li>
										<a href="shop_list.html">特浓咖啡</a>
									</li>
									<li>
										<a href="shop_list.html">黑咖啡</a>
									</li>
									<li>
										<a href="shop_list.html">摩卡咖啡</a>
									</li>
									<li>
										<a href="shop_list.html">拿铁咖啡</a>
									</li>
									<li>
										<a href="shop_list.html">白咖啡</a>
									</li>
									<li>
										<a href="shop_list.html">卡布奇诺</a>
									</li>
									<li>
										<a href="shop_list.html">其它</a>
									</li>
								</ul>
							</li>
							<li>
								<h2>是否含咖啡因</h2>
								<ul>
									<li>
										<a href="shop_list.html">含咖啡因</a>
									</li>
									<li>
										<a href="shop_list.html">低咖啡因</a>
									</li>
									<li>
										<a href="shop_list.html">无咖啡因</a>
									</li>
									<li>
										<a href="shop_list.html">其它</a>
									</li>
								</ul>
							</li>
							<li>
								<h2>是否含糖</h2>
								<ul>
									<li>
										<a href="shop_list.html">无糖</a>
									</li>
									<li>
										<a href="shop_list.html">含糖</a>
									</li>
									<li>
										<a href="shop_list.html">其它</a>
									</li>
								</ul>
							</li>
							<li>
								<h2>包装单位</h2>
								<ul>
									<li>
										<a href="shop_list.html">袋装</a>
									</li>
									<li>
										<a href="shop_list.html">盒装</a>
									</li>
									<li>
										<a href="shop_list.html">瓶装</a>
									</li>
									<li>
										<a href="shop_list.html">罐装</a>
									</li>
									<li>
										<a href="shop_list.html">其它</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<ul>
						<li>
							<a href="index.html">首页</a>
						</li>
						<li>
							<a href="shop_list.html">新年金彩礼盒</a>
						</li>
						<li>
							<a href="shop_list.html">经典原味咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">香醇浓厚咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">清新奶香咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">麦氏典藏系列</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div>

				<!--主要内容的小导航-->
				<p>
					<a href="pro_details.html">麦斯威尔</a> >
					<a href="##">会员中心</a>
				</p>
				<!--个人中心-->
				<ul>
					<li>
						<h3>个人中心</h3>
						<ul>
							<li>
								<a href="user.html">我的用户中心</a>
							</li>
							<li>
								<a href="shop_carts.html">我的购物车</a>
							</li>
							<li>
								<a href="order.html">我的订单</a>
							</li>
							<li>
								<a href="##">我的收藏</a>
							</li>
							<li>
								<a href="comment.html">我的评价</a>
							</li>
							<li>
								<a href="##">提取现金</a>
							</li>
							<li>
								<a href="##">我的余额</a>
							</li>
						</ul>
					</li>
					<li>
						<h3>我的账户</h3>
						<ul>
							<li>
								<a href="address.html">地址管理</a>
							</li>
							<li>
								<a href="##">个人信息</a>
							</li>
						</ul>
					</li>
					<li>
						<h3>退款维权</h3>
						<ul>
							<li>
								<a href="##">系统消息</a>
							</li>
							<li>
								<a href="##">举报管理</a>
							</li>
						</ul>
					</li>
				</ul>

				<!--右面部分-->
				<div class="cont_right">
					<!--产品详情-->
					<div class="cont_right_top">
						<a href="pro_details.html">
							<img src="{$base_url}Public/home/img/comment.png" />
						</a>
						<p>
							<a href="pro_details.html">麦斯威尔经典愿望速溶黑咖啡，三合一 特浓咖啡</a><br />
							<span>包装：盒装  重量：1.52kg</span>
						</p>
						<p>
							<span>￥29.00</span><br />
							<span>￥49.00</span>
						</p>
					</div>
					<!--建议-->
					<div class="cont_right_mid">
						<textarea>感谢您的宝贵的建议！</textarea>
						<a href="##">添 加 图 片</a>
					</div>
					<!--评价-->
					<div class="cont_right_bot">
						<div>
							<span>给我的评分：</span>
							<div class="star"></div>
							<div class="star"></div>
							<div class="star"></div>
							<div class="star"></div>
							<div class="star"></div>
							<span>很棒棒哦！</span>
						</div>
						<form action="##">
							<input type="checkbox" name="check" id="all" class="chk" />
							<label for="all"></label><label for="all">匿名</label>
							<span>对你的隐私保密哦</span>
						</form>
						<a href="##">发表评论</a>
					</div>
				</div>
			</div>

		</div>
		<!--最底部-->
		<div class="footer">
			<div class="footer_bot">
				<ul class="pic">
					<li>
						<a href="##"><img src="{$base_url}Public/home/img/di1.png" alt="" /></a>
					</li>
					<li>
						<a href="##"><img src="{$base_url}Public/home/img/di2.png" alt="" /></a>
					</li>
					<li>
						<a href="##"><img src="{$base_url}Public/home/img/di3.png" alt="" /></a>
					</li>
					<li>
						<a href="##"><img src="{$base_url}Public/home/img/di4.png" alt="" /></a>
					</li>
				</ul>
				<ul class="word">
					<li>苏ICP备14039882号-4</li>
					<li>苏B1-20150021</li>
					<li>麦斯威尔有限公司</li>
				</ul>
			</div>
		</div>
	</body>

</html>