<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>订单详情</title>
		<link rel="stylesheet" type="text/css" href="{$base_url}Public/home/css/common.css" />
		<link rel="stylesheet" type="text/css" href="{$base_url}Public/home/css/order_details.css" />
		<script src="{$base_url}Public/home/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="{$base_url}Public/home/js/jquery-migrate-1.2.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="{$base_url}Public/home/js/common.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<!--头部-->
		<div class="header">
			<!--最上边的灰色导航-->
			<div class="top">
				<div class="container">
					<!--灰色部分左边文字-->
					<span>亲，欢迎来到Maxwell House咖啡商城!</span>
					<!--灰色部分右边a标签-->
					<div>
						<a href="login.html">请登录</a>
						<a href="register.html">快速注册</a>
						<select>
							<option>我的订单</option>
							<option>其他订单</option>
							<option>我的订单</option>
						</select>
						<a href="##">帮助中心</a>
					</div>
				</div>
			</div>
			<!--头部中间部分-->
			<div class="middle">
				<div>
					<!--logo-->
					<a href="index.html"><img src="{$base_url}Public/home/img/logo.png" /></a>
					<!--搜索框-->
					<div class="search">
						<form>
							<input type="text" />
							<input type="submit" value="搜索" />
						</form>
						<ul>
						<li>
							<a href="shop_list.html" class="current">卡布奇诺</a>
						</li>
						<li>
							<a href="shop_list.html">摩卡咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">黑咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">经典原味</a>
						</li>
						<li>
							<a href="shop_list.html">卡布奇诺</a>
						</li>
					</ul>
					</div>

					<!--购物车-->
					<div class="shop_carts">
						<a href="shop_carts.html"><img src="{$base_url}Public/home/img/shop(index).png" /><span>我的购物车</span></a>
						<a href="shop_carts.html" class="num">0</a>
					</div>
					<!--搜索框下面的文字-->
					
				</div>
			</div>
			<!--头部导航部分-->
			<div class="nav">
				<div>
					<div class="left">
						<a href="##"> 全部商品分类 <img src="{$base_url}Public/home/img/jiankuohao.png" alt="" /></a>
						<ul class="clearfix">
							<li>
								<h2>咖啡分类</h2>
								<ul>
									<li><a href="shop_list.html">速溶咖啡</a></li>
									<li><a href="shop_list.html">咖啡豆</a></li>
									<li><a href="shop_list.html">咖啡粉</a></li>
									<li><a href="shop_list.html">其它</a></li>
								</ul>
							</li>
							<li>
								<h2>咖啡口味</h2>
								<ul>
									<li><a href="shop_list.html">原味咖啡</a></li>
									<li><a href="shop_list.html">特浓咖啡</a></li>
									<li><a href="shop_list.html">黑咖啡</a></li>
									<li><a href="shop_list.html">摩卡咖啡</a></li>
									<li><a href="shop_list.html">拿铁咖啡</a></li>
									<li><a href="shop_list.html">白咖啡</a></li>
									<li><a href="shop_list.html">卡布奇诺</a></li>
									<li><a href="shop_list.html">其它</a></li>
								</ul>
							</li>
							<li>
								<h2>是否含咖啡因</h2>
								<ul>
									<li><a href="shop_list.html">含咖啡因</a></li>
									<li><a href="shop_list.html">低咖啡因</a></li>
									<li><a href="shop_list.html">无咖啡因</a></li>
									<li><a href="shop_list.html">其它</a></li>
								</ul>
							</li>
							<li>
								<h2>是否含糖</h2>
								<ul>
									<li><a href="shop_list.html">无糖</a></li>
									<li><a href="shop_list.html">含糖</a></li>
									<li><a href="shop_list.html">其它</a></li>
								</ul>
							</li>
							<li>
								<h2>包装单位</h2>
								<ul>
									<li><a href="shop_list.html">袋装</a></li>
									<li><a href="shop_list.html">盒装</a></li>
									<li><a href="shop_list.html">瓶装</a></li>
									<li><a href="shop_list.html">罐装</a></li>
									<li><a href="shop_list.html">其它</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<ul>
						<li>
							<a href="index.html">首页</a>
						</li>
						<li>
							<a href="shop_list.html">新年金彩礼盒</a>
						</li>
						<li>
							<a href="shop_list.html">经典原味咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">香醇浓厚咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">清新奶香咖啡</a>
						</li>
						<li>
							<a href="shop_list.html">麦氏典藏系列</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div>

				<!--主要内容的小导航-->
				<p>
					<a href="pro_details.html">麦斯威尔</a> >
					<a href="##">会员中心</a>
				</p>
				<!--个人中心-->
				<ul>
					<li>
						<h3>个人中心</h3>
						<ul>
							<li>
								<a href="user.html">我的用户中心</a>
							</li>
							<li>
								<a href="shop_carts.html">我的购物车</a>
							</li>
							<li>
								<a href="order.html">我的订单</a>
							</li>
							<li>
								<a href="##">我的收藏</a>
							</li>
							<li>
								<a href="comment.html">我的评价</a>
							</li>
							<li>
								<a href="##">提取现金</a>
							</li>
							<li>
								<a href="##">我的余额</a>
							</li>
						</ul>
					</li>
					<li>
						<h3>我的账户</h3>
						<ul>
							<li>
								<a href="address.html">地址管理</a>
							</li>
							<li>
								<a href="##">个人信息</a>
							</li>
						</ul>
					</li>
					<li>
						<h3>退款维权</h3>
						<ul>
							<li>
								<a href="##">系统消息</a>
							</li>
							<li>
								<a href="##">举报管理</a>
							</li>
						</ul>
					</li>
				</ul>

				<!--右面上半部分-->
				<div class="cont_right_top">
					<h4>订单详情</h4>
					<div class="cont_right_top_mid">
						<p>
							<span>订单概况</span><br />
							<span>订单号:HD2015102459410   状态:代付款</span>
						</p>
						<span>
							订单金额：
							<span>￥78.00</span> （已免运费）
						</span>
						<span>收货信息: 张杰,189250045454,广东省 广州市白云区 地方地方地方的放大放大放大放</span>
						<span>支付方式: 未支付</span>
						<span>送货方式: 卖家留言:</span>
					</div>
					<div class="cont_right_top_bot">
						<h4>订单跟踪详情</h4>
						<p>
							<span>处理时间</span><br />
							<span>2015-10-24 12:17:16</span>
						</p>
						<p>
							<span>订单处理</span><br />
							<span>提交订单</span>
						</p>
						<p>
							<span>操作人</span><br />
							<span>18925009898</span>
						</p>
					</div>
				</div>

				<!--右面上下部分-->
				<div class="cont_right_bot">
					<h3>商品清单</h3>
					<table cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<th>商品名称</th>
								<th>价格</th>
								<th>数量</th>
								<th>总价</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="pro_details.html">
										<img src="{$base_url}Public/home/img/usercoffee.png" alt="" />
									</a>
									<p>
										<a href="pro_details.html">
											麦斯威尔经典愿望速溶黑咖啡，三合一 特浓咖啡
										</a>
										<span>包装：盒装  重量：1.52kg</span>
									</p>

								</td>
								<td>￥49.00</td>
								<td>1</td>
								<td><span>￥49.00</span></td>
							</tr>
						</tbody>
					</table>
					<div>
						<p>商品价格:<span>￥49.00</span></p>
						<p>运费:<span>￥0.00</span></p>
						<p>优惠:<span>￥0.00</span></p>
						<p>总计:<span>￥49.00</span></p>
					</div>

				</div>

			</div>
		</div>
		<!--最底部-->
		<div class="footer">
			<div class="footer_bot">
				<ul class="pic">
					<li>
						<a href="##"><img src="{$base_url}Public/home/img/di1.png" alt="" /></a>
					</li>
					<li>
						<a href="##"><img src="{$base_url}Public/home/img/di2.png" alt="" /></a>
					</li>
					<li>
						<a href="##"><img src="{$base_url}Public/home/img/di3.png" alt="" /></a>
					</li>
					<li>
						<a href="##"><img src="{$base_url}Public/home/img/di4.png" alt="" /></a>
					</li>
				</ul>
				<ul class="word">
					<li>苏ICP备14039882号-4</li>
					<li>苏B1-20150021</li>
					<li>麦斯威尔有限公司</li>
				</ul>
			</div>
		</div>
	</body>

</html>