	<include file="Public/header" />
	<link rel="stylesheet"href="{$base_url}Public/home/css/user.css"/>
	<div class="mg product ov row">
		<!------------left-show------------------->
		<div class="left-show col-xs-2">
				<!--l-nav-->
				<div class="l-nav left">
				<a href="{:U('User/member/center')}"><img src="/{$Think.session.HomeUser.member_pic}" width="148" height="144" alt="" /></a>
				<p>你好,<i class="n-user">欢迎来到福维克</i></p>
				</div>
		        <include file="Public/membermenu" />
			</div>				
			<!------------left-show-end------------------>
			<div class="right-show col-xs-10">
		   		<div class="address ov ">
         			<h2 class="text-left c-title">账户充值</h2>



         			
         		</div>
         	</div>			
			<!--爆款产品-end-->
		</div>
	</div>


	<include file="Public/footer" />
	<script type="text/javascript" src="{$base_url}Public/home/js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="{$base_url}Public/home/js/comment.js" ></script>
	<script type="text/javascript" src="{$base_url}Public/home/js/loaddown.js"></script>
	

</html>