/*第二部分*/

.content {
	width: 100%;
	position: relative;
	top: -1px;
}

a {
	text-decoration: none;
	color: black;
}
body{
	background-color: #e4e4e4;
}

/*轮播图*/

.content .banner{
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.content .banner .btn {
	position: absolute;
	overflow: hidden;
	width: 180px;
	bottom: 70px;
	left: 50%;
	margin-left: -90px;
	z-index: 1;
}

.content .banner .btn li {
	width: 35px;
	height: 35px;
	border-radius: 20px;
	background-color: white;
	float: left;
	margin: 0 12.5px;
}

.content .banner .btn li:hover {
	cursor: pointer;
}

.content .banner .btn li.on {
	background-color: #FF0000;
}

.container_all {
	width: 100%;
	height: 550px;
	overflow: hidden;
}

.container_all img {
	width: 100%;
	height: 600px;
}


/*产品*/

.product {
	width: 1200px;
	margin: 65px auto 0;
}


/*产品上面部分*/

.product .title {
	width: 100%;
	height: 60px;
	overflow: hidden;
}

.product .title img {
	float: left;
}

.product .title h1 {
	float: left;
	line-height: 60px;
	margin: 0 15px;
	font-family: "汉仪粗圆简";
	/*font-family: myFont;*/
	color: #622626;
	font-size: 30px;
}

.product .title span {
	display: inline-block;
	line-height: 60px;
	margin: 0 10px;
	font-family: "迷你简中特广告";
	/*font-family: myFont;*/
	font-size: 20px;
}

.product .title hr {
	width: 850px;
	float: right;
	margin-top: 30px;
	border-color: #622626;
}


/*产品中间部分*/

.product ul{
	width: 101%;
	margin: 40px auto 0;
	overflow: hidden;
}

.product ul li{
	width: 380px;
	height: 615px;
	float: left;
	text-align: center;
	position: relative;
	background-color: white;
	margin: 0 0 63px 20px;
	box-shadow: 2px 7px 17px #888888;
}
.product ul li h1 {
	margin: 30px auto;
}
.product ul li h1 a{
	font-family: "微软雅黑";
}
.product ul li h1 a{
	color: #969696;
}
.product ul li hr {
	width: 376px;
	margin: 0 auto;
}

.product ul li p {
	width: 280px;
	height: 160px;
	margin: 35px auto;
	text-align: left;
	
}
.product ul li p a{
	font-family: "微软雅黑";
}
.product ul li>img{
	position: absolute;
	left: 130px;
	bottom: -63px;
}

/*热门商品*/

.commodities {
	width: 1200px;
	margin: 120px auto;
	overflow: hidden;
}


/*热门上面部分*/

.commodities .title {
	width: 100%;
	height: 60px;
	overflow: hidden;
}

.commodities .title img {
	float: left;
}

.commodities .title h1 {
	float: left;
	line-height: 60px;
	margin: 0 15px;
	font-family: "汉仪粗圆简";
	color: #622626;
	font-size: 30px;
}

.commodities .title span {
	display: inline-block;
	line-height: 60px;
	margin: 0 10px;
	font-family: "迷你简中特广告";
	font-size: 20px;
}

.commodities .title hr {
	width: 813px;
	float: right;
	margin-top: 30px;
	border-color: #622626;
}


/*热门中间部分*/

.com_mid {
	width: 100%;
	overflow: hidden;
	margin: 40px auto 0;
}


/*中间左边部分*/

.com_mid li:first-child{
	width: 640px;
	height: 480px;
	line-height: 480px;
	background-color: white;
	text-align: center;
	position: relative;
	float: left;
}

.com_mid li:first-child:hover div {
	display: block;
}

.com_mid li:first-child img {
	vertical-align: middle;
}

.com_mid li:first-child div{
	width: 96%;
	height: 100px;
	position: absolute;
	bottom: 11px;
	left: 50%;
	margin-left: -48%;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	text-align: center;
	line-height: 100px;
	font-size: 40px;
	font-weight: 900;
	word-spacing: 5px;
	font-family: "default";
	display: none;
}

.com_mid li:first-child div a {
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	font-family: "迷你简中特广告";
}
/*拿铁*/

.com_mid li:first-child+li {
	width: 530px;
	height: 250px;
	line-height: 250px;
	background-color: white;
	text-align: center;
	position: relative;
	float: left;
	margin-left: 30px;
}

.com_mid li:first-child+li img {
	vertical-align: middle;
}

.com_mid li:first-child+li div {
	width: 502px;
	height: 65px;
	position: absolute;
	bottom: 8px;
	left: 50%;
	margin-left: -251px;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
	line-height: 65px;
	font-size: 40px;
	font-weight: 900;
	word-spacing: 5px;
	font-family: "default";
	display: none;
}

.com_mid li:first-child+li div a {
	color: white;
	display: block;
	width: 100%;
	height: 100%;
	font-family: "迷你简中特广告";
}

.com_mid li:first-child+li:hover div {
	display: block;
}


/*蓝山*/

.com_mid li:first-child+li+li{
	width: 250px;
	height: 210px;
	background-color: white;
	margin: 19px 0 0 30px;
	float: left;
	line-height: 210px;
	text-align: center;
	position: relative;
}

.com_mid li:first-child+li+li img {
	vertical-align: middle;
}

.com_mid li:first-child+li+li div {
	width: 227px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	bottom: 8px;
	left: 50%;
	margin-left: -113.5px;
	background: rgba(0, 0, 0, 0.6);
	font-size: 25px;
	font-weight: 900;
	word-spacing: 5px;
	font-family: "default";
	display: none;
}

.com_mid li:first-child+li+li a {
	color: white;
	display: block;
	width: 100%;
	height: 100%;
	font-family: "迷你简中特广告";
}

.com_mid li:first-child+li+li:hover div {
	display: block;
}
/*摩卡*/
.com_mid li:first-child+li+li+li {
	float: right;
	width: 250px;
	height: 210px;
	background-color: white;
	margin: 19px 0 0 30px;
	line-height: 210px;
	text-align: center;
	position: relative;
}
.com_mid li:first-child+li+li+li img {
	vertical-align: middle;
}
.com_mid li:first-child+li+li+li div{
	width: 227px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	bottom: 8px;
	left: 50%;
	margin-left: -113.5px;
	background: rgba(0, 0, 0, 0.6);
	font-size: 25px;
	font-weight: 900;
	word-spacing: 5px;
	font-family: "default";
	display: none;
	bottom: 9px;
}
.com_mid li:first-child+li+li+li:hover div {
	display: block;
}
.com_mid li:first-child+li+li+li div a{
	color: white;
	display: block;
	width: 100%;
	height: 100%;
	font-family: "迷你简中特广告";
}
/*推荐商品*/

.recommend {
	width: 1200px;
	margin: 120px auto 0;
}


/*推荐商品上面部分*/

.recommend .title {
	width: 100%;
	overflow: hidden;
}
.recommend .title img {
	float: left;
}

.recommend .title h1 {
	float: left;
	line-height: 60px;
	margin: 0 15px;
	font-family: "汉仪粗圆简";
	color: #622626;
	font-size: 30px;
}

.recommend .title hr {
	width: 1000px;
	float: right;
	margin-top: 30px;
	border-color: #622626;
}
.title_bot{
	overflow: hidden;
}
.title_bot span{
	display: block;
	margin-left: 50px;
	font-size: 24px;
	font-family: "迷你简中特广告";
}
.title_bot p {
	width: 880px;
	float: left;
	margin: 25px 0 0 50px;
	font-size: 20px;
	line-height: 27px;
}
.title_bot div{
	float: right;
	margin-top: -22px;
}
.more {
	display: block;
	width: 210px;
	height: 60px;
	line-height: 60px;
	background-color: #444444;
	border-radius: 22px;
	margin: 100px 0 0 50px;
	color: white;
	text-align: center;
	font-size: 25px;
}


/*推荐商品中间部分*/
.rec_mid{
	width: 100%;
	margin: 65px auto 0;
	overflow: hidden;
}
/*推荐中间左边部分*/
.rec_mid_left{
	width: 380px;
	height: 485px;
	float: left;
	position: relative;
}
.rec_hide{
	width: 100%;
	height: 200px;
	background-color: #c95105;
	position: absolute;
	bottom: 0;
	text-align: center;
	display: none;
}
.rec_mid_left div h2{
	margin: 25px auto;
	color: white;
	font-size: 40px;
	font-weight: 800;
}
.rec_mid_left div a{
	width: 170px;
	height: 40px;
	display: block;
	margin: 0 auto;
	border: 1px solid #fff45c;
	text-align: center;
	line-height: 40px;
	font-size: 22px;
	color: white;
}
.rec_mid_left:hover .rec_hide{
	display: block;
}
/*推荐中间右边部分*/
.rec_mid_right{
	width:770px;
	height: 420px;
	float: right;
	margin: 30px 0 0 0;
}
.rec_mid_right p{
	font-size: 17px;
	line-height: 36px;
	text-indent: 20px;
}
/*爆款推荐*/
.hot{
	width: 1200px;
	margin: 160px auto 0;
	padding: 0;
}
.hot .title{
	width: 100%;
	height: 70px;
	background: url(../img/baokuan.png) no-repeat;
	color: white;
	font-size: 33px;
	font-weight: 700;
	text-align: center;
	line-height: 70px;
}
.hot p{
	margin: 40px auto 60px;
	text-indent: 33px;
	font-size: 18px;
	line-height: 40px;
}
.hot>ul{
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.hot>ul>li{
	width: 400px;
	height: 253px;
	float: left;
	position: relative;
}
.hot>ul>li a{
	display: block;
	width: 100%;
	height: 100%;
}
.hot>ul>li a img{
	width: 100%;
	height: 100%;
}
.hot>ul>li>a:first-child+a{
	width:100%;
	height: 70px;
	position: absolute;
	bottom: 0;
	background: url(../img/beijing.png);
	text-align: center;
	line-height: 70px;
	color: white;
	font-size: 30px;
	display: none;
	font-family: "迷你简中特广告";
}
.hot>ul>li:hover a:first-child+a{
	display: block;
}

.hot>a{
	width: 330px;
	height: 65px;
	display: block;
	margin: 90px auto;
	border: 2px solid red;
	text-align: center;
	line-height: 65px;
	font-size: 30px;
	border-radius: 10px;
}
/*最底部*/


@font-face{
	font-family: "迷你简中特广告";
	src: url("../img/FONT.ttf");
}










