.content{
	width: 100%;
	background-color: #e4e4e4;
	padding-top: 10px;
}
.content>div{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
/*主要内容的小导航*/
.content>div>p{
	margin: 10px 0 20px;
	font-size: 14px;
}
/*个人中心*/
.content>div>ul{
	width: 200px;
	height: 610px;
	border: 3px solid red;
	padding: 10px;
	float: left;
	background-color: white;
}
.content>div>ul>li h3{
	border-bottom: 2px solid #a0a0a0;
	padding-bottom: 3px;
	font-size: 18px;
	font-weight: normal;
}
.content>div>ul>li>ul{
	margin-top: 20px;
}
.content>div>ul>li>ul>li{
	margin-bottom: 25px;
}
.content>div>ul>li>ul>li>a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 14px;
}
/*右面上半部分*/

.cont_right_top{
	width: 930px;
	margin-left: 10px;
	float: left;
}
.cont_right_top>h4{
	width: 100%;
	line-height: 38px;
	text-indent: 10px;
	border-bottom: 2px solid red;
}
.cont_right_top_mid{
	width: 100%;
	height: 220px;
	border: 1px solid #626262;
	margin-top: 20px;
	padding: 10px;
	background-color: white;
}
.cont_right_top_mid p{
	width: 100%;
	line-height: 35px;
	border-bottom:1px dashed gray ;
	padding-bottom: 5px;
	margin-bottom: 20px;
}
.cont_right_top_mid p>span:first-child{
	font-size: 15px;
}
.cont_right_top_mid p>span:first-child+br+span{
	font-size: 13px;
	color: #999999;
}
.cont_right_top_mid>span{
	display: block;
	font-size: 13px;
	color: #999999;
	margin-bottom: 10px;
}
.cont_right_top_mid>span span{
	color: red;
}
.cont_right_top_bot{
	width: 100%;
	border: 1px solid #626262;
	margin-top: 20px;
	padding: 15px;
	background-color: white;
	overflow: hidden;
}

.cont_right_top_bot p{
	width: 200px;
	float: left;
	margin: 20px 50px;
	line-height: 30px;
	}
/*右面上下部分 */
.cont_right_bot{
	width: 920px;
	border: 1px solid #626262;
	margin: 20px 0 180px 10px;
	padding: 20px;
	background-color: white;
	float: left;
}
.cont_right_bot table{
	width: 100%;
	margin-top: 20px;
	border-bottom: 1px dashed red;
}
.cont_right_bot table th{
	background-color: red;
	color: white;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.cont_right_bot table th:first-child{
	width: 450px;
}
.cont_right_bot table td{
	text-align: center;
}
.cont_right_bot table td>a{
	float: left;
	margin: 5px 10px 0 110px;
}
.cont_right_bot table td p{
	width: 200px;
	float: left;
	font-size: 12px;
	text-align: left;
	margin-top: 10px;
}
.cont_right_bot table td p a{
	display: block;
	margin: 5px 0;
}
.cont_right_bot table td p span{
	color: #666666;
	display: block;
}
.cont_right_bot table td>span{
	color: red;
}
.cont_right_bot>div{
	width: 200px;
	float: right;
	text-align: right;
	margin-right: 30px;
}
.cont_right_bot>div p{
	font-size: 14px;
	margin-top: 20px;
}
.cont_right_bot>div span{
	color: red;
}
.footer{
	margin-top: 0;
}


















