.content {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}


/*进度条*/

.cont_top {
	width: 100%;
}

.cont_top ul {
	width: 700px;
	overflow: hidden;
	margin: 25px auto;
}

.cont_top ul li {
	width: 220px;
	height: 45px;
	float: left;
	position: relative;
}

.cont_top ul li hr {
	width: 100%;
	height: 5px;
	background-color: #eeeeee;
	border: none;
	position: absolute;
	top: 8px;
}

.cont_top ul li div {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #cccccc;
	text-align: center;
	line-height: 20px;
	position: absolute;
	top: 0px;
	left: 50%;
	color: white;
	margin-left: -10px;
}

.cont_top ul li p {
	width: 150px;
	margin: 24px 0 0 37px;
	font-size: 12px;
	color: #cccccc;
	text-align: center;
}

.cont_top ul .one hr {
	background-color: #7d7d7d;
}

.cont_top ul .one div {
	background-color: #7d7d7d;
}

.cont_top ul .one p {
	color: #7d7d7d;
}
/*成功支付*/
.cont_mid{
	width: 99%;
	border: 2px solid #dddddd;
	background-color: #fbfbfb;
	overflow: hidden;
}
.cont_mid>div{
	float: left;
	margin: 20px 0 20px 20px;
}
.cont_mid>div p{
	color: black;
	margin: 0 0 10px 0;
	font-size: 12px;
}
.cont_mid>div p:first-child{
	color: red;
	font-weight: 700;
}
.cont_mid>div p span{
	color: red;
}
/*付款方式*/
.cont_bot{
	width: 99%;
	border: 1px solid #dddddd;
	margin-top: 30px;
	position: relative;
}
.cont_bot>p{
	width: 170px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 20px 20px 0 20px;
	color: red;
	font-size: 14px;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid white;
	background-color: white;
	position: absolute;
	z-index: 2;
}
/*付款方式*/
.pay_top{
	width: 96.3%;
	border: 1px solid #dddddd ;
	margin: 51px auto 0; 
}
.pay_top>ul{
	width: 95%;
	margin: 20px auto 0;
}
.pay_top>ul>li>p{
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	border-bottom: 1px solid #d2d2d2;
}
.pay_top>ul>li>ul{
	width: 100%;
	overflow: hidden;
}
.pay_top>ul>li>ul>li{
	width: 190px;
	height: 40px;
	margin: 10px 15px 15px 10px;
	border: 1px solid #d2d2d2;
	float: left;
}

.chk {
	display: none;
	color: red;
}

.chk+ label {
	border: 1px solid red;
	padding: 8px;
	display: inline-block;
	position: relative;
	top: 10px;
	left: 10px;
	cursor: pointer;
	border-radius: 20px;
	float: left;
}

.chk:checked+ label:after {
	content: '\00b7';
	position: absolute;
	padding: 0;
	top: -46px;
	left: -1px;
	color: red;
	border-radius: 20px;
	font-size: 76px;
}

.pay_top>ul>li>ul>li>.one{
	width: 140px;
	height: 40px;
	float: left;
	margin-left: 20px;
	cursor: pointer;
}
.pay_top>ul>li>ul>li>.one img{
	width: 100%;
	height: 100%;
	display: block;
}

.pay_top>div{
	width: 96.6%;
	height: 60px;
	border-top: 1px solid #dddddd;
	padding-left: 40px;
	line-height: 60px;
}
.pay_top>div .chk+ label{
	top: 25px;
}
.pay_top>div .chk+ label:after{
	top: -26px;
}
.pay_top>div .one{
	width: 210px;
	height: 30px;
	float: left;
	margin: 15px 0 0 40px;
	cursor: pointer;
	overflow: hidden;
}
.pay_top>div .one img{
	width: 60%;
	height: 100%;
	display: block;
	float: left;
}
.pay_top>div .one span{
	margin: 0 0 0 auto;
	display: block;
	width: 50px;
	line-height: 30px;
}
.pay_top>div>p{
	margin-left: 40px;
	float: left;
}
.pay_top>div>p span{
	font-size: 14px;
	padding: 0 10px;
}
.pay_top>div>p .card{
	border-right: 1px solid black;
}
.pay_top>div .rmb{
	float: right;
	margin-right: 60px;
	font-size: 14px;
}
.pay_top>div .rmb span{
	color: red;
	padding: 0;
	font-size: 22px;
}
/*输入密码*/
.pay_bot{
	width: 88%;
	height: 200px;
	margin: 10px auto 50px;
}
.pay_bot>p{
	margin-bottom: 20px;
	font-size: 14px;
}
/*六位密码*/
.pay_bot>div{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.pay_bot>div .box {
	width: 190px;
	height: 30px;
	border: 1px solid #ccc;
	line-height: 30px;
	display: inline-block;
	float: left;
}
.pawDiv {
	display: inline-block;
	width: 31px;
	height: 30px;
	float: left;
	background-color: white;
	text-align: center;
}
.box input.paw {
	width: 30px;
	height: 17px;
	border: none;
	border-left: 1px solid #ccc;
	text-align: center;
	background-color: transparent;
}
.box .pawDiv:first-child input.paw {
	border: none;
}
.pay_bot>div a{
	float: left;
	display: block;
	margin: 8px;
	font-size: 14px;
}
.pay_bot>div p{
	clear: both;
	font-size: 12px;
	margin-top: 45px;
}
/*按钮*/
.pay_bot>a{
	width: 160px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: red;
	color: white;
	display: block;
	margin-top: 25px;
}
.footer{
	margin: 80px auto 0;
}



























