.content {
	width: 1200px;
	margin: 0 auto;
}


/*主要内容*/

.cont_top {
	width: 99%;
	border: 2px solid #b5b5b5;
	margin: 100px auto;
	overflow: hidden;
}


/*左边部分*/

.cont_left {
	width: 650px;
	float: left;
	height: 200px;
	margin: 50px 0 25px 100px;
}

.cont_left>p {
	overflow: hidden;
}

.cont_left>p>img {
	float: left;
}

.cont_left>p>span {
	font-size: 30px;
	line-height: 26px;
	float: left;
}

.cont_left>div {
	overflow: hidden;
	margin: 20px 24px;
}

.cont_left>div>div {
	float: left;
}

.cont_left>div>div>p {
	margin-bottom: 33px;
	overflow: hidden;
}

.cont_left>div>div>p>span>span {
	color: red;
}

.cont_left>div>div>p>span:first-child {
	border-right: 1px solid #444444;
}

.cont_left>div>div>p>span {
	padding: 0 10px;
}

.cont_left>div>div>p>a:first-child {
	width: 90px;
	height: 30px;
	border: 1px solid #e5e5e5;
	background-color: #f6f6f6;
	display: block;
	text-align: center;
	line-height: 30px;
	color: #999999;
	float: left;
	margin-left: 10px;
	font-size: 14px;
}

.cont_left>div>div>p>a:first-child+a {
	width: 90px;
	height: 30px;
	border: 1px solid #e5e5e5;
	background-color: #f6f6f6;
	display: block;
	text-align: center;
	line-height: 30px;
	color: #999999;
	float: left;
	margin-left: 10px;
	font-size: 14px;
}

.cont_left>div>div>p>a:last-child {
	color: red;
	display: block;
	margin: 7px 20px;
	float: left;
}


/*右边部分*/

.cont_right {
	width: 430px;
	height: 200px;
	border-left: 1px dashed #b5b5b5;
	float: left;
	margin: 50px 0;
	overflow: hidden;
}

.cont_right_left {
	width: 110px;
	margin-left: 110px;
	float: left;
}

.cont_right_left>img {
	margin: 15px 20px 20px 0;
}

.cont_right_left>img:first-child+span {
	font-size: 18px;
	display: block;
	color: #808080;
}

.cont_right_left>img:first-child+span+span {
	font-size: 14px;
	color: #808080;
	display: block;
	width: 225px;
}

.cont_right_right {
	float: left;
	width: 180px;
}

.cont_right_right>img:first-child+span {
	display: block;
	font-size: 20px;
	font-family: "微软雅黑";
	font-weight: 900;
	margin: 5px 50px;
}

.cont_right_right>img:first-child+span+span {
	display: block;
	font-size: 20px;
	font-family: "微软雅黑";
	font-weight: 900;
	margin: 5px 8px;
	width: 200px;
}


/*返回首页*/

.content>a {
	width: 175px;
	height: 40px;
	line-height: 40px;
	margin: 40px auto;
	border: 2px solid red;
	display: block;
	border-radius: 10px;
	text-align: center;
	font-family: "微软雅黑";
	font-weight: 700;
}

.footer {
	border: none;
	margin: 100px 0 0 0;
}

.footer_bot {
	background-color: #f8f8f8;
}