	/*第二部分*/
	
	.content {
		width: 100%;
	}
	/*主要内容上面部分*/
	
	.cont_top {
		width: 1200px;
		margin: 0 auto;
	}
	/*上面部分的小导航*/
	
	.cont_part_top {
		width: 100%;
		overflow: hidden;
		margin-top: 15px;
	}
	
	.cont_part_top li {
		float: left;
		font-size: 15px;
	}
	/*上面部分的主要内容*/
	
	.cont_part_bot {
		width: 100%;
	}
	/*左边小轮播图*/
	
	.cont_part_left {
		width: 350px;
		float: left;
		height: 450px;
	}
	
	#wrap {
		position: relative;
		width: 100%;
		overflow: hidden;
		margin-top: 35px;
	}
	
	#mwrap img {
		width: 350px;
		height: 350px;
	}
	
	#mwrap {
		width: 350px;
		height: 380px;
		border: 1px solid #ccc;
		position: absolute;
	}
	
	#lwrap img {
		width: 800px;
		height: 800px;
	}
	
	#lwrap {
		width: 400px;
		height: 400px;
		position: absolute;
		left: 370px;
		overflow: hidden;
		border: 1px solid #ccc;
		display: none;
		z-index: 5;
	}
	
	#slider {
		width: 175px;
		height: 175px;
		background-color: rgba(255, 255, 0, 0.3);
		position: absolute;
		top: 0;
		left: 0;
		display: none;
	}
	
	.big {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 40px;
		height: 40px;
		background-color: #d2d2d2;
	}
	
	.big img {
		width: 70%!important;
		height: 80%!important;
		margin: 5px;
	}
	
	li {
		list-style: none;
	}
	
	#title {
		position: relative;
		top: 360px;
		width: 100%;
		height: 65px;
		margin: 38px auto;
		overflow: hidden;
	}
	
	#title div {
		width: 310px;
		height: 65px;
		overflow: hidden;
		position: relative;
		float: left;
	}
	
	.lin {
		width: 380px;
		height: 65px;
		overflow: hidden;
		position: absolute;
	}
	
	.lin li {
		width: 50px;
		height: 94%;
		float: left;
		margin-left: 20px;
		cursor: pointer;
		border: 2px solid transparent;
	}
	
	.lin .current {
		border: 2px solid red;
	}
	
	.lin img {
		width: 50px;
		height: 100%;
	}
	
	.left,
	.title div,
	.right {
		float: left;
	}
	
	.left,
	.right {
		height: 100%;
		width: 20px;
		text-align: center;
		line-height: 65px;
		font-weight: 800;
		font-size: 30px;
		color: black;
		cursor: pointer;
	}
	
	.left {
		background: url(../img/left-gray.png) no-repeat;
		background-position-y: 20px;
	}
	
	.right {
		background: url(../img/right-gray.png) no-repeat;
		background-position-y: 20px;
	}
	/*中间简介*/
	
	.cont_part_mid {
		width: 540px;
		float: left;
		margin-left: 35px;
	}
	/*中间上面部分*/
	
	.cont_part_mid div:first-child h2 {
		margin: 20px auto;
		color: #484848;
		font-weight: normal;
	}
	
	.cont_part_mid div:first-child .price {
		width: 100%;
		height: 40px;
		background-color: #eeeeee;
		line-height: 40px;
	}
	
	.cont_part_mid div:first-child .price span:first-child {
		margin-left: 15px;
		color: #80807c;
		font-size: 12px;
	}
	
	.cont_part_mid div:first-child .price span:first-child+span {
		color: red;
		font-size: 12px;
	}
	
	.cont_part_mid div:first-child .price p {
		float: right;
		width: 90px;
		line-height: 15px;
		margin-top: 8px;
		border-left: 1px solid #666666;
		font-size: 13px;
		text-align: center;
	}
	
	.cont_part_mid div:first-child ul {}
	
	.cont_part_mid div:first-child ul li {
		margin-top: 15px;
		font-size: 12px;
	}
	.cont_part_mid div:first-child ul li:first-child+li{
		height: 45px;
	}
	.cont_part_mid div:first-child ul li:first-child+li span {
		letter-spacing: 0;
	}
	
	.cont_part_mid div:first-child ul li>span {
		margin-left: 15px;
		color: #80807c;
		letter-spacing: 8px;
		font-size: 12px;
	}
	
	.cont_part_mid div:first-child ul li img {
		margin-left: 5px;
	}
	
	.cont_part_mid div:first-child ul li div {
		position: relative;
		top: -13px;
		left: 90px;
	}
	.cont_part_mid div:first-child ul li div p{
		margin-top: 10px;
	}
	.cont_part_mid div:first-child ul li div span {
		margin-top: 10px;
		color: gray;
	}
	
	.cont_part_mid div:first-child ul li div select {
		appearance: none;
		-moz-appearance: none;
		border: none;
		-webkit-appearance: none;
		padding-right: 14px;
		background: url(../img/sanjiao.png) no-repeat scroll right center transparent;
	}
	
	.cont_part_mid div:first-child ul li div select::-ms-expand {
		display: none;
	}
	/*中间下面部分*/
	
	.cont_part_mid>ul {
		width: 100%;
		border-top: 1px solid #A8A8A8;
		margin-top: 15px;
		overflow: hidden;
	}
	
	.cont_part_mid>ul>li {
		margin-top: 10px;
		overflow: hidden;
	}
	
	.cont_part_mid>ul>li:first-child>span {
		margin-left: 15px;
		color: #80807c;
		float: left;
		margin-top: 13px;
		font-size: 12px;
	}
	
	.cont_part_mid>ul li:first-child ul {
		width: 425px;
		float: left;
		overflow: hidden;
	}
	
	.cont_part_mid>ul li:first-child ul li {
		float: left;
		width: 190px;
		height: 40px;
		background-color: #eeeeee;
		margin: 4px 20px 4px 0;
		line-height: 40px;
		border: 1px solid transparent;
		cursor: pointer;
	}
	
	
	.cont_part_mid>ul li:first-child ul li img {
		margin: 2px 3px;
		float: left;
	}
	
	.cont_part_mid>ul li:first-child ul li span {
		font-size: 12px;
		float: left;
	}
	
	.cont_part_mid>ul li:first-child ul .current {
		border: 1px solid red;
	}
	
	.cont_part_mid>ul>li:first-child+li>span {
		margin-left: 15px;
		color: #80807c;
		float: left;
		margin-top: 6px;
		font-size: 12px;
	}
	
	.cont_part_mid>ul>li:first-child+li>div {
		width: 250px;
		height: 30px;
		float: left;
		margin-left: -5px;
	}
	
	.cont_part_mid>ul>li:first-child+li>div>span {
		width: 28px;
		height: 28px;
		text-align: center;
		border: 1px solid #666666;
		display: block;
		float: left;
		line-height: 28px;
		cursor: pointer;
		background-color: white;
		margin: 0 6px;
	}
	
	.cont_part_mid>ul>li:first-child+li>div>input {
		width: 70px;
		height: 28px;
		border: 1px solid #666666;
		text-align: center;
		float: left;
		line-height: 28px;
	}
	/*立即购买*/
	
	.cont_part_mid div:first-child+ul+div {
		width: 365px;
		margin: 40px 0 0 100px;
		overflow: hidden;
	}
	
	.cont_part_mid div:first-child+ul+div div:first-child {
		width: 160px;
		height: 40px;
		border: 1px solid red;
		text-align: center;
		line-height: 40px;
		float: left;
	}
	
	.cont_part_mid div:first-child+ul+div div:first-child a {
		color: red;
		display: block;
		width: 100%;
		height: 100%;
	}
	
	.cont_part_mid div:first-child+ul+div div:first-child+div {
		width: 160px;
		height: 40px;
		border: 1px solid red;
		text-align: center;
		line-height: 40px;
		background-color: red;
		margin-left: 40px;
		float: left;
	}
	
	.cont_part_mid div:first-child+ul+div div:first-child+div a {
		color: white;
		display: block;
		width: 100%;
		height: 100%;
	}
	/*看了又看*/
	
	.cont_part_right {
		width: 110px;
		text-align: center;
		
		float: right;
	}
	@font-face{
	font-family: "迷你简卡通";
	/*font-family: myFont;*/
	src: url("../img/minikatong.TTF");
}
	.cont_part_right h3 {
		color: #8a8a8a;
		font-size: 23px;
		font-family: "迷你简卡通";
	}
	
	.cont_part_right ul li:first-child {
		margin-top: 30px;
	}
	
	.cont_part_right ul li {
		margin-top: 40px;
		text-align: center;
		line-height: 23px;
	}
	.cont_part_right ul li span{
		font-size: 14px;
	}
	/*介绍部分*/
	
	.cont_bot {
		width: 1200px;
		overflow: hidden;
		margin: 0 auto;
	}
	/*介绍部分左侧*/
	
	.cont_bot_left {
		width: 200px;
		float: left;
		border: 1px solid gray;
	}
	/*左侧上面文字*/
	
	.cont_bot_left>p {
		width: 100%;
		overflow: hidden;
		cursor: pointer;
	}
	
	.cont_bot_left>p span {
		width: 50%;
		height: 55px;
		display: block;
		float: left;
		text-align: center;
		line-height: 55px;
		background-color: #d2d2d2;
		color: #2f2d2d;
	}
	
	.on {
		background-color: red!important;
		color: white!important;
	}
	/*左侧图片*/
	
	.cont_bot_left>div ul {
		margin-top: 25px;
	}
	
	.cont_bot_left>div ul:first-child+ul {
		display: none;
	}
	
	.cont_bot_left>div>ul>li {
		margin-bottom: 80px;
	}
	
	.cont_bot_left>div>ul>li:last-child {
		margin-bottom: 40px;
	}
	
	.cont_bot_left>div>ul>li>a img {
		margin: 0 auto;
		display: block;
	}
	
	.cont_bot_left>div>ul>li>p {
		overflow: hidden;
		margin: 30px 6px 0;
	}
	
	.cont_bot_left>div>ul>li>p>span:first-child {
		display: block;
		width: 21px;
		height: 21px;
		border-radius: 11px;
		background-color: red;
		color: white;
		float: left;
		text-align: center;
		line-height: 21px;
	}
	
	.cont_bot_left>div>ul>li>p>span:first-child+span {
		margin-left: 5px;
		color: #666666;
		font-size: 14px;
	}
	
	.cont_bot_left>div>ul>li>p>span:first-child+span+span {
		color: red;
		float: right;
		font-size: 14px;
	}
	/*介绍部分右侧*/
	
	.cont_bot_right {
		width: 990px;
		float: left;
		margin-top: 60px;
	}
	/*右侧上面部分*/
	
	.cont_bot_right .introduce_top {
		width: 98%;
		margin: 0 auto;
	}
	
	.cont_bot_right .introduce_top>ul {
		overflow: hidden;
		border-bottom: 2px solid red;
	}
	
	.cont_bot_right .introduce_top ul li {
		float: left;
		width: 100px;
		height: 35px;
		margin-right: 50px;
		text-align: center;
		line-height: 35px;
		font-size: 14px;
	}
	
	.cont_bot_right .introduce_top ul .current {
		background-color: red;
	}
	
	.cont_bot_right .introduce_top ul .current a {
		color: white;
	}
	/*右侧中间部分*/
	
	.cont_bot_right .pic div:first-child {
		width: 95%;
		margin: 0 auto;
		border-bottom: 1px solid grey;
		overflow: hidden;
	}
	
	.cont_bot_right .pic div:first-child ul {
		width: 920px;
		overflow: hidden;
		float: right;
		margin-top: 40px;
		border: none;
	}
	
	.cont_bot_right .pic div:first-child ul li {
		width: 190px;
		float: left;
		font-size: 12px;
		margin: 0 40px 20px 0;
		text-align: left;
	}
	
	.cont_bot_right .pic div:first-child span {
		margin-left: 873px;
		font-size: 12px;
	}
	
	.cont_bot_right .pic div:first-child span a {
		color: red;
	}
	/*右侧图片部分*/
	
	.cont_bot_pic {
		width: 100%;
		text-align: center;
		margin: 40px 0 0 0;
	}
	
	.cont_bot_pic img {
		margin-bottom: 30px;
	}
	/*商品评价*/
	
	.commodity {
		width: 890px;
		margin: 25px auto;
		display: none;
	}
	/*商品评价上面部分*/
	
	.comm_top {
		width: 100%;
		height: 300px;
		border: 1px solid gray;
	}
	
	.comm_top>ul {
		margin: 20px 0 0 20px;
	}
	
	.comm_top>ul>li {
		width: 100%;
		margin-bottom: 15px;
	}
	
	.comm_top>ul>li>span {
		font-size: 20px;
		color: red;
		display: block;
		margin-bottom: 10px;
	}
	
	.comm_top>ul>li p {
		font-size: 12px;
		margin: 10px 0 0 45px;
	}
	
	.comm_top>ul>li ul {
		margin: 0 0 0 45px;
	}
	
	.comm_top>ul>li ul li {
		overflow: hidden;
		margin-bottom: 5px;
	}
	
	.comm_top>ul>li ul li span {
		float: left;
		font-size: 12px;
	}
	
	.comm_top>ul>li ul li p {
		float: left;
		margin: 0;
		width: 750px;
	}
	/*商品评价中间部分*/
	
	.comm_mid {
		width: 100%;
		height: 195px;
		margin-top: 20px;
	}
	
	.comm_mid>div:first-child {
		height: 35px;
		width: 100%;
		background-color: #e5e5e5;
		line-height: 35px;
		text-indent: 20px;
		font-size: 19px;
		font-family: "微软雅黑";
		font-weight: 800;
	}
	
	.comm_hide {
		width: 100%;
		height: 160px;
		overflow: hidden;
	}
	
	.comm_left {
		float: left;
		font-size: 45px;
		color: red;
		font-weight: 900;
		line-height: 40px;
		margin: 55px 0 0 60px;
	}
	
	.comm_left span {
		font-size: 15px;
		color: black;
		margin-left: 12px;
	}
	
	.comm_mid_mid {
		float: left;
		margin: 50px 0 0 50px;
	}
	
	.comm_mid_mid>div {
		overflow: hidden;
		margin-bottom: 16px;
	}
	
	.comm_mid_mid>div span {
		font-size: 14px;
		float: left;
	}
	
	.comm_mid_mid>div p {
		width: 120px;
		height: 14px;
		background-color: #b5b5b5;
		float: left;
	}
	
	.comm_mid_mid>div:first-child p span {
		width: 95%;
		height: 100%;
		background-color: #d81317;
	}
	
	.comm_mid_mid>div:first-child+div p span {
		width: 10%;
		height: 100%;
		background-color: #d81317;
	}
	
	.comm_right {
		float: left;
		margin: 50px 0 0 90px;
	}
	
	.comm_right span {
		float: left;
		font-size: 12px;
		display: block;
		margin-top: 23px;
	}
	
	.comm_right ul {
		width: 190px;
		float: left;
	}
	
	.comm_right ul li {
		float: left;
		font-size: 12px;
		background-color: #e5e5e5;
		margin: 0 0 20px 20px;
		padding: 3px;
	}
	/*商品评价下面部分*/
	
	.comm_bot {
		width: 100%;
	}
	
	.comm_bot_nav {
		width: 100%;
		height: 30px;
		background-color: #eeeeee;
		overflow: hidden;
		padding-left: 10px;
		line-height: 30px;
	}
	
	.comm_bot_nav li {
		float: left;
		font-size: 14px;
		margin-right: 30px;
		cursor: pointer;
	}
	
	.comm_bot_cont {
		width: 100%;
	}
	
	.comm_bot_cont>li {
		width: 100%;
		height: 220px;
		border-bottom: 1px solid #e4e4e4;
	}
	
	.comm_bot_cont li div {
		margin-top: 40px;
		overflow: hidden;
		float: left;
	}
	
	.comm_bot_cont li div img {
		float: left;
	}
	
	.comm_bot_cont li div span {
		float: left;
	}
	
	.comm_bot_cont li div p {
		margin: 55px 0 0 -85px;
		float: left;
		font-size: 14px;
	}
	
	.comm_bot_cont li div .gold {
		color: gold;
	}
	
	.comm_bot_cont li ul {
		float: left;
		margin: 40px 0 0 55px;
	}
	
	.comm_bot_cont li ul li {
		font-size: 12px;
		margin-bottom: 15px;
	}
	
	.comm_bot_cont li ul li span {
		margin-left: 20px;
	}
	

/*分页*/




.commodity .page{
	float: right;
	overflow: hidden;
	margin: 30px 0 110px 0;
}
.commodity>.page li{
	float: left;
	border: 1px solid #dcdcdc;
	margin-right: 5px;
	font-size: 12px;
	text-align: center;
}
.commodity>.page li:hover{
	background-color: red;
	color: white;
}
.commodity>.page li:hover a{
	color: white;
}
.commodity>.page li a{
	display: block;
	padding: 5px 7px;
}
.commodity>.page li .current{
	background-color: red;
	color: white;
}
.commodity>.page span{
	display: block;
	float: left;
	margin: 6px 0;
	font-size: 12px;
}
.commodity>.page span input{
	width: 40px;
	height: 20px;
	margin: -18px 15px;
	text-align: center;
}
.commodity>.page button{
	border: 1px solid #DCDCDC;
	background-color: white;
	width: 40px;
	height: 24px;
	margin: 0 10px;
	cursor: pointer;
}