.content {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}


/*进度条*/

.cont_top {
	width: 100%;
}

.cont_top ul {
	width: 700px;
	overflow: hidden;
	margin: 25px auto;
}

.cont_top ul li {
	width: 220px;
	height: 45px;
	float: left;
	position: relative;
}

.cont_top ul li hr {
	width: 100%;
	height: 5px;
	background-color: #eeeeee;
	border: none;
	position: absolute;
	top: 8px;
}

.cont_top ul li div {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #cccccc;
	text-align: center;
	line-height: 20px;
	position: absolute;
	top: 0px;
	left: 50%;
	color: white;
	margin-left: -10px;
}

.cont_top ul li p {
	width: 150px;
	margin: 24px 0 0 37px;
	font-size: 12px;
	color: #cccccc;
	text-align: center;
}

.cont_top ul .one hr {
	background-color: #7d7d7d;
}

.cont_top ul .one div {
	background-color: #7d7d7d;
}

.cont_top ul .one p {
	color: #7d7d7d;
}


/*全选*/

.content>form {
	width: 100%;
}
.content>form label{
	cursor: pointer;
}

.chk {
	display: none;
	color: red;
}

.chk+ label {
	border: 1px solid red;
	padding: 8px;
	display: inline-block;
	position: relative;
	top: 3px;
	cursor: pointer;
}

.chk:checked+ label:after {
	content: '\2714';
	position: absolute;
	padding: 0;
	top: -2px;
	left: 2px;
	color: red;
	font-size: 16px;
}


/*购物车*/

.content>table {
	width: 100%;
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	margin-top: 10px;
}

.content>table>thead {
	width: 100%;
	height: 45px;
	line-height: 45px;
	background-color: #fafafa;
}

.content>table>thead>tr {
	width: 100%;
}
.money{
	width: 150px;
}
.content>table>thead>tr th {
	border-bottom: 1px solid #666666;
}

.content>table>thead>tr th:first-child+th {
	width: 570px;
}

.content>table>tbody {
	width: 100%;
	height: 100px;
	background-color: #fcfcfc;
	text-align: center;
}

.content>table>tbody>tr{
	
	height: 100px;
}
.content>table>tbody>tr td{
	border-bottom: 1px solid black;
}
.content>table>tbody>tr td:first-child{
	width: 55px;
}
.content>table>tbody>tr .pro>a>img {
	float: left;
}

.content>table>tbody>tr .pro>p {
	float: left;
	width: 210px;
	font-size: 12px;
	text-align: left;
	margin: 10px 0 0 25px;
}

.content>table>tbody>tr .pro>p span {
	display: block;
	color: gray;
}

.content>table>tbody>tr .pri>p:first-child+p {
	text-decoration: line-through;
	font-size: 14px;
	color: #666666;
	font-weight: 800;
}

.number>div {
	width: 110px;
	height: 25px;
	margin: 0 auto;
}

.number>div>span {
	width: 20px;
	height: 25px;
	text-align: center;
	border: 1px solid #666666;
	display: block;
	float: left;
	line-height: 25px;
	cursor: pointer;
	background-color: white;
}

.number>div>input {
	width: 60px;
	height: 25px;
	border: 1px solid #666666;
	text-align: center;
	float: left;
	background-color: #f5f5f5;
	line-height: 25px;
	border-right: none;
	border-left: none;
}
.content>table>tbody>tr> .amount{
	color: red;
}
.content>table>tbody>tr>td>a{
	display: block;
}
/*结算*/
.cont_top{
	width: 100%;
	margin-top: 40px;
	overflow: hidden;
}
.cont_top>p{
	text-align: right;
	width: 100%;
}
.cont_top>p .tol{
	color: gainsboro;
	font-size: 12px;
}
.cont_top>p .totalamount{
	color: red;
	font-size: 12px;
}
.cont_top>a{
	display: block;
	width: 120px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background-color: red;
	color: white;
	float: right;
	margin-top: 10px;
}





































