<include file="Public/header" />
<link rel="stylesheet" type="text/css" href="{$base_url}Public/home/css/common.css" />
<link rel="stylesheet" type="text/css" href="{$base_url}Public/home/css/register.css" />
<!--第二部分-->
<div class="content">
	<div class="cont_part">
		<span>会员注册</span>
		<form>
			<div>
				<label for="tel">账号：</label>
				<input style="margin-right: 10px;" type="text" id="tel" />
				<label style="width: 45%; font-size: 12px; line-height: 16px; text-align: left;" id="nametip" class="Tip">
					请使用字母、汉字、数字、下划线组合，4~20个字符，且不能为纯数字
				</label>
			</div>
			<div>
				<label for="email"> Email：</label>
				<input type="text" id="email" />
			</div>
			<div>
				<label for="yan"> 验证码：</label>
				<input type="text" id="yan" />
				<div>获取验证码</div>
			</div>
			<div>
				<label for="paddword">密码：</label>
				<input type="password" id="paddword" />
			</div>
			<div>
				<label for="confirm">确认密码：</label>
				<input type="password" id="confirm" />
			</div>
			<div>
				<input type="checkbox" name="" id="radio" value="" />
				<label for="radio" class="word">我已阅读并同意
					<a href="##">用户服务协议</a>
				</label>
			</div>
			<input type="button" value="免费注册">
		</form>

	</div>
</div>
<div class="footer">
	<div class="footer_bot">
		<ul class="pic">
			<li>
				<a href="##">
					<img src="{$base_url}Public/home/img/di1.png" alt="" />
				</a>
			</li>
			<li>
				<a href="##">
					<img src="{$base_url}Public/home/img/di2.png" alt="" />
				</a>
			</li>
			<li>
				<a href="##">
					<img src="{$base_url}Public/home/img/di3.png" alt="" />
				</a>
			</li>
			<li>
				<a href="##">
					<img src="{$base_url}Public/home/img/di4.png" alt="" />
				</a>
			</li>
		</ul>
		<ul class="word">
			<li>苏ICP备14039882号-4</li>
			<li>苏B1-20150021</li>
			<li>麦斯威尔有限公司</li>
		</ul>
	</div>
</div>
</body>
<script>
	$(function () {
		$('#RegForm').validate({
			onkeyup: false,

			focusCleanup: true,

			success: "valid",

			submitHandler: function (form) {

				$(form).ajaxSubmit({

					type: 'post',

					url: "{:U('User/Index/register')}",

					success: function (data) {

						if (data == 'ok') {

							layer.msg('注册成功!', {
								end: function () {

									var index = parent.layer.getFrameIndex(window.name);

									parent.$('.btn-refresh').click();

									parent.layer.close(index);

								}
							});

						} else {

							layer.msg('注册失败!', {
								icon: 1
							})

						}

					},

					error: function (XmlHttpRequest, textStatus, errorThrown) {

						layer.msg('error!', {
							icon: 1
						});

					}

				});

			}

		});
	});
</script>

</html>
